{% load customtags %}
{% load static %}

<div>
    <h3>Check and Make Corrections to Your Submission</h3>
    <span class="small text-muted">
        Download a copy of your Study doc with a few automated corrections, and generate a status report for issues that you may elect to try and fix on your own.<br>
        You can repeat this process until your submission is error-free, or proceed to submission and we can work with you to resolve any remaining errors.
    </span>
    <br>
    <br>

    <div style="display: none;">
        <label for="peak_annotation_file" class="tight-form-label">
            Peak Annotation Files:
            <span class="small"><span class="small text-muted">(e.g. AccuCor, IsoCorr, and/or IsoAutoCorr files)</span></span>
        </label>
        <!-- The 2 form strategy (the one below for adding (mzXML) file names by drag and drop of the actual files and the one above to just submit their names (because that's all we need, and these files can be numerous and large) is based on https://stackoverflow.com/questions/2175831/is-it-possible-to-use-input-type-file-just-to-post-the-filename-without-actu -->
        <form class="tbform-control">
            <table>
                <tr>
                    <td>
                        <div id="drop-area">
                            <!-- Hidden form that does not submit - just used as a target to drop files, from which, just their names are extracted to populate the other form's hidden character input -->
                            <label class="btn btn-secondary">
                                <input type="file" multiple id="drop-area-input" onchange="handleFiles(this.files);"/>
                                Choose Files
                            </label>  <span class="drop-area-message">(Drag and drop here)</span>
                        </div>
                    </td>
                    <td style="vertical-align: middle;">
                        <table>
                            <tr style="vertical-align: middle;" name="drop-annot-metadata-row" id="drop-annot-metadata-row-template">
                                <td style="display: none;" id="fileColumn">
                                    {{ form.peak_annotation_file }}
                                </td>
                                <td>
                                    {{ form.operator }}
                                </td>
                                <td>
                                    {{ form.instrument }}
                                </td>
                                <td>
                                    {{ form.protocol }}
                                </td>
                                <td>
                                    {{ form.run_date }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <form action="{% url 'submission' %}" id="submission-validation" method="POST" enctype="multipart/form-data" class="tbform-control" onsubmit="onSubmit();">
        {% csrf_token %}

        <!-- Single instances of the datalists (since the form will be replicated and we don't want/need to replicate the datalists along with it) -->
        {{ form.operator_datalist }}
        {{ form.protocol_datalist }}
        {{ form.instrument_datalist }}
        {{ form.run_date_datalist }}

        <div class="level-indent">
            <!-- Peak annotation file forms will be added to this table via javascript -->
            <table id="peak-annot-forms-elem">
            </table>
        </div>

        <div id="single-form-elems">
            {{ form.mode }}

            <label for="study_doc" class="tight-form-label">
                Study doc:
                <span class="small"><span class="small text-muted">(OPTIONAL <span class="fst-italic">excel</span>, if exists)</span></span>
            </label>
            {{ form.study_doc }}
        </div>

        <br>

        <span class="text-danger">
            {% if form_errors %}
                <ul>
                    {% for err in form_errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </span>

        <a class="btn {% if valid %}btn-success{% elif state == 'FAILED' %}btn-danger{% elif state == 'WARNING' %}btn-warning{% else %}btn-secondary{% endif %}" href="{% url 'submission' %}?page=Submit" role="button" style="float: right;">{% if results %}Next{% else %}Skip{% endif %}</a>
        <button type="submit" class="btn btn-primary" id="submit">Validate &amp; Repair</button>
        <button type="reset" class="btn btn-secondary" id="clear" onclick="clearSubmissionForm();">Clear</button>
    </form>
</div>


{% if results %}
    {% if not quiet_mode %}
        <br>
        <br>
        {% if valid %}
            <h5 class="text-success">Your data looks good! You may proceed to the <a href="{{ submission_url }}">submission form</a> if you are ready to add this data to TraceBase.</h5>
        {% endif %}
    {% endif %}
    {% if not valid or not quiet_mode %}
        <hr>
        <h5>Status Report</h5>
        <ul class="ul-nopadding">
            {% for key in ordered_keys %}
                {% with status=results|index:key status_class=results|index:key|getClass err_status="ERROR" wrn_status="WARNING" %}
                    <li class="{{ status_class }}">
                        <u><b>{{ status }}: {{ key }}</b></u>
                        {% if exceptions|index:key %}
                            <ul class="ul-nopadding">
                                {% for exception in exceptions|index:key %}
                                    <li class="{% if exception|index:'is_error' %}{{ err_status|getClass }}{% else %}{{ wrn_status|getClass }}{% endif %}"><b>{{ exception|index:"type" }}</b>{% if exception|index:"fixed" != None %} <b>({{ exception|index:"fixed" }})</b>{% endif %}<br><div class="level-indent"><span class="newlines">{{ exception|index:"message" }}</span></div></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
    <span class="d-none" id="output_study_file_name">{{ study_filename }}</span>
    <pre class="d-none" id="output_study_file">{{study_data}}</pre>
{% endif %}
