{% load customtags %}
{% load static %}

<div>
    <h3>Submit Your Data</h3>
    <ol>
        <li>
            Add your data to the <a {% if submission_drive_doc_url is None %}href="javascript:void(0);" onclick="alert('Environment variable: SUBMISSION_DRIVE_DOC_URL not set.')"{% else %}target="_blank" href="{{ submission_drive_doc_url }}"{% endif %}>{{ submission_drive_type }}</a>
            using the following structure:
            <div class="tree">
                <ul>
                    <li>
                        <a {% if submission_drive_doc_url is None %}href="javascript:void(0);" onclick="alert('Environment variable: SUBMISSION_DRIVE_DOC_URL not set.')"{% else %}target="_blank" href="{{ submission_drive_doc_url }}"{% endif %}><i class="fa fa-folder-open"></i></a>
                        <a {% if submission_drive_doc_url is None %}href="javascript:void(0);" onclick="alert('Environment variable: SUBMISSION_DRIVE_DOC_URL not set.')"{% else %}target="_blank" href="{{ submission_drive_doc_url }}"{% endif %}>{% if submission_drive_folder is None or submission_drive_folder == "" %}Environment variable: SUBMISSION_DRIVE_FOLDER not set.{% else %}{{ submission_drive_folder }}{% endif %}</a>
                        <ul>
                            <li>
                                <i class="fa fa-folder-open"></i> user_name
                                <ul>
                                    <li>
                                        <i class="fa fa-folder-open"></i> study_name_1
                                        <ul>
                                            <li><div file-tooltip="aka animal/sample sheet">study_name.xlsx</div></li>
                                            <div class="tree-extend" file-tooltip="Organize AccuCor/IsoCorr files in subdirectories however you wish">
                                                <li>peak_annotation_name_1.xlsx</li>
                                                <li>peak_annotation_name_2.xlsx</li>
                                                <li>peak_annotation_name_N.xlsx</li>
                                            </div>
                                            <div file-tooltip="Organize mzXML files in subdirectories however you wish">
                                                <li>sample_name_1.mzXML</li>
                                                <li>sample_name_2.mzXML</li>
                                                <li>sample_name_N.mzXML</li>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            Fill out and submit the Tracebase Study Submission Form:<br>
            <br>
            <a class="btn btn-primary" role="button" target="_blank" {% if submission_form_url is None %}href="javascript:void(0);" onclick="alert('Environment variable: SUBMISSION_FORM_URL not set.')"{% else %}href="{{ submission_form_url }}"{% endif %}>Submission Form</a><br>
            <br>
        </li>
        <li>
            What happens next?
            <small class="text-muted">
                <p>
                    If you have any questions, concerns, comments, or you would like to follow-up or check-in on the load status, please reach out to us using the
                    <a {% if submission_feedback_url is None %}href="javascript:void(0);" onclick="alert('Environment variable: SUBMISSION_FEEDBACK_URL not set.')"{% else %}target="_blank" href="{{ submission_feedback_url }}{{ request.get_full_path }}"{% endif %}>feedback form</a>.
                </p>
            </small>
            <ol>
                <li>
                    We will review your study to ensure that everything will load smoothly.
                    <ul>
                        <li>
                            If there are any issues, we'll contact you to sort everything out.
                        </li>
                        <li>
                            Once all issues are resolved, the data will be loaded into TraceBase.
                        </li>
                    </ul>
                </li>
                <li>
                    We will send you an email with a link to your data for your review.
                </li>
            </ol>
        </li>
    </ol>
</div>
