{% extends "base/base.html" %}
{% load static %}

{% block head_extras %}
    {{ block.super }}

    <link href="{% static 'css/tabbar.css' %}" rel="stylesheet">
    {% if page == 'Start' or page == 'Validate' or page is None %}
        <link href="{% static 'css/hierarchical_formsets.css' %}" rel="stylesheet">
        <link href="{% static 'css/tbforms.css' %}" rel="stylesheet">
        <link href="{% static 'css/drop_area.css' %}" rel="stylesheet">
        <script src="{% static 'js/browser_download.js' %}"></script>
        <script src="{% static 'js/submission_start.js' %}"></script>
        <script src="{% static 'js/file_list_drop_area.js' %}"></script>
        <script src="{% static 'js/submission.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                let tmpElems = document.getElementsByName("study_doc");
                let studyDocInput = tmpElems[0];
                initPeakAnnotUploads(
                    document.getElementById('drop-annot-metadata-row-template'),
                    document.getElementById('peak-annot-forms-elem'),
                    document.getElementById('drop-area-input'),
                    document.getElementById("submission-validation"),
                    document.getElementById("single-form-elems"),
                    studyDocInput
                );
                initDropArea(
                    document.getElementById('drop-area'),
                    addPeakAnnotFileToUpload,
                    afterAddingFiles
                );
            })
        </script>
    {% elif page == 'Fill In' %}
        <script src="{% static 'js/submission_fillin.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                initListeners("{% static 'images/minus.png' %}", "{% static 'images/plus.png' %}")
            })
        </script>
    {% elif page == 'Submit' %}
        <link href="{% static 'css/file_tree.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}
    <div style="min-height: 90vh;display: flex;flex-direction: column;margin: 0;">
        <div style="flex: 1 0 auto;">
            <div>
                <ul class="tabbar tabbar-pills justify-content-center">
                    <li class="tabbar-item">
                        <a class="tabbar-link {% if page == 'Start' or page is None %}active{% endif %}" href="{% url 'submission' %}?page=Start">Start</a>
                    </li>
                    <li class="tabbar-item">
                        <a class="tabbar-link {% if page == 'Fill In' %}active{% endif %}" href="{% url 'submission' %}?page=Fill%20In">Fill In</a>
                    </li>
                    <li class="tabbar-item">
                        <a class="tabbar-link {% if page == 'Validate' %}active{% endif %}" href="{% url 'submission' %}?page=Validate">Validate</a>
                    </li>
                    <li class="tabbar-item">
                        <a class="tabbar-link {% if page == 'Submit' %}active{% endif %}" href="{% url 'submission' %}?page=Submit">Submit</a>
                    </li>
                </ul>
            </div>

            {% if page == 'Start' or page is None %}
                {% include "submission/includes/1_start.html" %}
            {% elif page == 'Fill In' %}
                {% include "submission/includes/2_fill_in.html" %}
            {% elif page == 'Validate' %}
                {% include "submission/includes/3_validate.html" %}
            {% elif page == 'Submit' %}
                {% include "submission/includes/4_submit.html" %}
            {% endif %}
        </div>

        <small class="text-muted">
            <br>
            <hr>
            Feel free to submit data as you generate it.  Your study does not have to be complete for submission.  You can
            iteratively submit <span class="tooltip-hint" text-tooltip="E.g. AccuCor excel file">peak annotation files</span>
            with their metadata described in the <span class="tooltip-hint" text-tooltip="Animal/Sample excel file">study doc</span>,
            as you finish them.  Each one can be an additional separate submission to the same study.
        </small>
    </div>

{% endblock %}
