{% load static %}

<!-- Sidebar -->
<!-- ref: https://getbootstrap.com/docs/5.0/components/list-group/ -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <div class="list-group-item-secondary bg-white">Tables</div>
        <a href="{% url 'study_list' %}" class="list-group-item list-group-item-action bg-light">Studies</a>
        <a href="{% url 'animal_list' %}" class="list-group-item list-group-item-action bg-light">Animals</a>
        <a href="{% url 'tissue_list' %}" class="list-group-item list-group-item-action bg-light">Tissues</a>
        <a href="{% url 'sample_list' %}" class="list-group-item list-group-item-action bg-light">Samples</a>
        <a href="{% url 'archive_file_list' %}" class="list-group-item list-group-item-action bg-light">Archive Files</a>
        <a href="{% url 'compound_list' %}" class="list-group-item list-group-item-action bg-light">Compounds</a>
        <a href="{% url 'infusate_list' %}" class="list-group-item list-group-item-action bg-light">Infusates</a>
        <a href="{% url 'tracer_list' %}" class="list-group-item list-group-item-action bg-light">Tracers</a>
        <a href="{% url 'peakgroup_list' %}" class="list-group-item list-group-item-action bg-light">Peak Groups</a>
        <a href="{% url 'peakdata_list' %}" class="list-group-item list-group-item-action bg-light">Peak Data</a>
        <a href="{% url 'animal_treatment_list' %}" class="list-group-item list-group-item-action bg-light">Animal<br>Treatments</a>
        <a href="{% url 'msrunsequence_list' %}" class="list-group-item list-group-item-action bg-light">MSRun<br>Sequences</a>
        <a href="{% url 'lcmethod_list' %}" class="list-group-item list-group-item-action bg-light">LC<br>Protocols</a>
    </div>
</div>
