/* CSS for BSTListView templates */

/* customize Bootstrap-table settings for th */
.bootstrap-table .fixed-table-container .table thead th .th-inner {
  position: relative;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  height: auto;
  min-width: 2rem !important;
}

/* Position the tooltip (i) icon at the top-right. This was intended to be relative of the th tag, but its
vertical-align: bottom seems to override that, such that this appears to the top right of the text contained in the
th tag. */
.th-info-tooltip {
  position: absolute;
  top: 1px;
  right: 15px;
}

/* This is for use in soft-wrapped td table cells so that they are not rendered too narrow. */
.min-w25rem {
  min-width: 25rem !important;
  display: flex !important;
  height: 100%;
}
