#annot-drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 510px;
  height: 130px;
  font-family: sans-serif;
  margin: 10px;
  padding: 20px;
}

#annot-drop-area.highlight {
  border-color: purple;
}

#annot-drop-area-input {
  display: none;
}

.drop-area-list-indent {
  padding-left: 2em;
}

.drop-area-message {
  color: #bfc3c6 !important;
  font-size: 1.5rem !important;
  padding: 1.5rem !important;
}

.tight-form-label {
  margin-bottom: 0.25rem;
}

/* This vertically centers the file button and annot-drop-area text in the dash annot-drop-area */
#annot-drop-area::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#raw-drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 510px;
  height: 130px;
  font-family: sans-serif;
  margin: 10px;
  padding: 20px;
}

#raw-drop-area.highlight {
  border-color: purple;
}

#raw-drop-area-input {
  display: none;
}

/* This vertically centers the file button and raw-drop-area text in the dash raw-drop-area */
#raw-drop-area::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
