:root {
  --nav-bg-color: #d5f5e3;
}

/* Do not wrap in any case */
.nobr {
  white-space: nowrap;
}

/* Do not auto-wrap, but *do* wrap where there are hard returns */
.newlines {
  white-space: pre;
}

.tiny {
  font-size: 0.6em;
}

colgroup.identdata,
colgroup.datadata,
colgroup.metadata {
  border: 2px solid black;
}

.navbar,
.nav-link,
.navbar-brand {
  background-color: var(--nav-bg-color);
}

body.development > nav.navbar {
  background-image: url("/static/images/construction.png");
}

.center-all {
  text-align: center;
  vertical-align: middle !important;
}

/* Used for the display a tooltip about units for a search term when the unitsinfo element is hovered over */
.unitstooltip {
  display: none;
  background: #eee;
  position: fixed;
  white-space: pre;
  font-size: x-small;
  padding: 5px;
  z-index: 1;
}

.unitsinfo:hover .unitstooltip {
  display: block;
}

/* Used for the display of an info icon about units for a search term */
.unitsinfo {
  margin: 0;
}

.main-content {
  width: calc(100% - 9rem);
}
