:root {
  --nav-bg-color: #d5f5e3;
}

/* Do not wrap in any case */
.nobr {
  white-space: nowrap;
}

/* Do not auto-wrap, but *do* wrap where there are hard returns */
.newlines {
  white-space: pre;
}

.tiny {
  font-size: 0.6em;
}

colgroup.identdata,
colgroup.datadata,
colgroup.metadata {
  border: 2px solid black;
}

.navbar,
.nav-link,
.navbar-brand {
  background-color: var(--nav-bg-color);
}

body.development > nav.navbar {
  background-image: url("/static/images/construction.png");
}
