.level-indent {
  padding-left: 2em;
}

.bg-highlighted {
  --bs-table-striped-bg: #f4f4f4;
  --bs-table-striped-color: #000;
}

.table-highlighted {
  --bs-table-bg: #fff;
  --bs-table-striped-bg: #f4f4f4;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #eeefee;
  --bs-table-hover-color: #000;

  color: #000;
  border-color: #dee2e6;
}

.table-highlighted > tbody > .bg-highlighted {
  --bs-table-accent-bg: var(--bs-table-striped-bg);

  color: var(--bs-table-striped-color);
}

.table-highlighted-legend {
  --bs-table-bg: #fff;
  --bs-table-striped-bg: #f4f4f4;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #eeefee;
  --bs-table-hover-color: #000;

  width: 1%;
  white-space: nowrap;
  color: #000;
  border-color: #dee2e6;
}

.table-highlighted-legend > tbody > tr > .bg-highlighted {
  --bs-table-accent-bg: var(--bs-table-striped-bg);

  color: var(--bs-table-striped-color);
}

.text-error {
  color: #dc3545 !important;
}
