.level-indent {
  padding-left: 2em;
}

.bg-highlighted {
  --bs-table-striped-bg: rgba(0, 0, 0, 5%);
  --bs-table-striped-color: #212529;
}

.table-highlighted {
  --bs-table-bg: transparent;
  --bs-table-striped-bg: rgba(0, 0, 0, 5%);
  --bs-table-striped-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 10%);
  --bs-table-active-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 7.5%);
  --bs-table-hover-color: #212529;

  color: #212529;
  border-color: #dee2e6;
}

.table-highlighted > tbody > .bg-highlighted {
  --bs-table-accent-bg: var(--bs-table-striped-bg);

  color: var(--bs-table-striped-color);
}

.table-highlighted-legend {
  --bs-table-bg: transparent;
  --bs-table-striped-bg: rgba(0, 0, 0, 5%);
  --bs-table-striped-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 10%);
  --bs-table-active-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 7.5%);
  --bs-table-hover-color: #212529;

  width: 1%;
  white-space: nowrap;
  color: #212529;
  border-color: #dee2e6;
}

.table-highlighted-legend > tbody > .bg-highlighted {
  --bs-table-accent-bg: var(--bs-table-striped-bg);

  color: var(--bs-table-striped-color);
}
