.tabbar {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
  list-style: none;
  padding: 2rem;
  white-space: nowrap;
}

.tabbar-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #4d7697;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .tabbar-link {
    transition: none;
  }
}

.tabbar-link:hover, .tabbar-link:focus {
  color: #fff;
  border-color: #4d7697;
  transition: color 0.75s;
}

.tabbar-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.tabbar-item {
  display: flex;
  flex-grow: auto;
  flex-basis: 20%;
  justify-content: space-around;
}

.tabbar-pills .tabbar-item .tabbar-link {
  background: none;
  background-color: #dbf4e4;
  border: 2px solid #4d7697;
  border-radius: 0.25rem;
  text-align: center;
  width: 100%;
}

.tabbar-pills .tabbar-link:hover {
  background-color: #6dc4ac;
}

.tabbar-pills .tabbar-link.active,
.tabbar-pills .show > .tabbar-link {
  color: #fff;
  background-color: #6dc4ac;
}
