.tabbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  padding: 2rem;
}

.tabbar-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #4d7697;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .tabbar-link {
    transition: none;
  }
}

.tabbar-link:hover, .tabbar-link:focus {
  color: #fff;
  border-color: #4d7697;
  transition: color 0.75s;
}

.tabbar-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.tabbar-tabs {
  border-bottom: 1px solid #dee2e6;
}

.tabbar-tabs .tabbar-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.tabbar-pills .tabbar-link {
  background: none;
  background-color: #dbf4e4;
  border: 2px solid #4d7697;
  border-radius: 0.25rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.tabbar-fill > .tabbar-link,
.tabbar-fill .tabbar-item {
  flex: 1 1 auto;
  text-align: center;
}

.tabbar-justified > .tabbar-link,
.tabbar-justified .tabbar-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tabbar-pills .tabbar-link:hover {
  background-color: #6dc4ac;
}

.tabbar-pills .tabbar-link.active,
.tabbar-pills .show > .tabbar-link {
  color: #fff;
  background-color: #6dc4ac;
  padding-left: 5rem;
  padding-right: 5rem;
}

.tabbar-fill .tabbar-item .tabbar-link,
.tabbar-justified .tabbar-item .tabbar-link {
  width: 100%;
}

.tabbar-tabs .tabbar-link:hover, .tabbar-tabs .tabbar-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}

.tabbar-tabs .tabbar-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.tabbar-tabs .tabbar-link.active,
.tabbar-tabs .tabbar-item.show .tabbar-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.tabbar-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
