<!-- Based on .venv/lib/python3.9/site-packages/django/forms/templates/django/forms/widgets/select.html as a starting point template -->

<script>
  function setPageButtonValue(value) {
    alert("Setting rows per page to " + value)

    // Get the hidden input element
    var rows_input_elem = document.getElementById("{{ widget.attrs.id }}")
    rows_input_elem.value = value

    // Get the rows select list button element
    var slbutton = document.getElementById("custom-select-button")
    slbutton.value = value

    // Set the displayed value on the button itself
    var pss = document.getElementsByClassName("page-size")
    var ps = pss[0]
    ps.innerHTML = value

    // Make the button element trigger a change event
    var event = new Event('change');
    rows_input_elem.dispatchEvent(event);
  }
</script>

<div class="page-list" style="display: inline-block; white-space: nowrap;">
  <div class="btn-group dropdown dropup">
    <input type="hidden" name="{{ widget.name }}" {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %} value="{{ widget.value.0 }}">
    <button id="custom-select-button" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
      <span class="page-size">{{ widget.value.0 }}</span>
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      {% for group_name, group_choices, group_index in widget.optgroups %}
          {% for option in group_choices %}
            {% include option.template_name with widget=option %}
          {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
