{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Home - TraceBase</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="LSI">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="TraceBase" rel="home">TraceBase</a>
                            </h1>
                            <p>A Mass-Spec Trace Repository for Metabolite Tracing Data.</p>
                        </div>
                    </div>
                    <img src="{% static 'images/header.jpg' %}" alt="TraceBase">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <hr>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    A Mass-Spec Trace Repository for Metabolite Tracing Data.
                </div>
            </footer>
        </div>
    </body>
</html>
