{% extends "base.html" %}
{% block content %}
<div>
    <ul>
        <h3>Browse the Database</h3>
            <li>
                <div class="table">
                    <a href="{% url 'compound_list' %}">
                        <h3>Compounds</h3>
                    </a>
                </div>
            </li>
            <!--
            <li>
                <div class="table">
                    <a href="{% url 'study_list' %}">
                        <h3>Compounds Test</h3>
                    </a>
                </div>
            </li>
        -->
    </ul>
</div>
{% endblock %}
