{% extends "base.html" %}
{% load table_tags %}
{% block content %}
<div>
    <h3>{{ table }} Records</h3>
    <table>
        <tr>
            {% for hdr in headers %}
                <th>
                    {{ hdr }}
                </th>
            {% endfor %}
        </tr>
        {% for rec in object_list %}
            <tr>
                {% for fld in fieldnames %}
                    <td>
                        {% with table|add:"/"|add:fld|add:".html" as template %}
                            {% if template|template_exists %}
                                {% include template with rec=rec %}
                            {% else %}
                                <div>{{ rec|value_from_model:fld }}</div>
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endfor %}
            </tr>
        {% empty %}
            
        {% endfor %}
    </table>
</div>
{% endblock %}
