{% load static %}
{% load customtags %}

<!-- Navbar -->
<!-- ref: https://getbootstrap.com/docs/5.0/components/navbar/ -->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #d5f5e3;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="TraceBase" width="115">
        </a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Browse</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-download-data" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Download
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-download-data">
                    {% getDownloadQrys as qrys %}
                    {% for qry in qrys %}
                        <li>
                            <form action="/DataRepo/search_advanced_tsv/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="qryjson" value="{{ qry.json }}">
                                <button type="submit" class="dropdown-item">All {{ qry.name }} Data</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <!-- Commenting to leave as a placeholder until this is implemented.
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-help" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Help
                </a>
            </li>
            -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload' %}">Upload</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdnYe_gvKdoELXexZ9508xO8o59F1WgXcWBNh-_oxYh9WfHPg/viewform?usp=pp_url&entry.1881422913={{ request.get_full_path }}" target="_blank">
                    Feedback
                </a>
            </li>
        </ul>

        <!-- Commenting to leave as a placeholder until this is implemented.
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Text Search" aria-label="Search">
            <button class="btn btn-outline-success me-2" type="submit">Search</button>
        </form>
        -->
        <ul class="navbar-nav mr-auto" style="margin-left: 1rem;">
            <li class="nav-item mr-auto">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
        </ul>
        <a role="button" class="btn btn-outline-success nobr" href="{% url 'search_advanced' %}">Advanced Search</a>
    </div>
</nav>
