{% load static %}
{% load customtags %}

<!-- modified code based on: https://www.caktusgroup.com/blog/2018/10/18/filtering-and-pagination-django/-->:
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
        {% endif %}
    </span>
</div>
    <p>Rows: {{ page_obj.start_index }} - {{ page_obj.end_index }}</p>
{% endif %}