{% load static %}
{% load customtags %}

{% if page_obj %}
    <script>
        function askForPage(curpage, num_pages){
            let valid = false
            let canceled = false
            let errmsg = ""
            let newpagenum = curpage
            while (!valid) {
                var newpagestr = prompt(errmsg + "Enter a page number between 1 and " + num_pages + ":", curpage);
                if(typeof newpagestr === 'undefined' || !newpagestr){
                    canceled = true
                    valid = true
                } else {
                    newpagenum = parseInt(newpagestr);
                    if(isNaN(newpagenum)){
                        errmsg = "Error: [" + newpagestr + "] is not an integer.\n"
                    } else if(newpagenum < 1) {
                        errmsg = "Error: [" + newpagestr + "] must be greater than 0.\n"
                    } else if(newpagenum > num_pages) {
                        errmsg = "Error: [" + newpagestr + "] must be less than or equal to the number of pages: [" + num_pages + "].\n"
                    } else {
                        valid = true
                    }
                }
            }
            if (canceled || typeof newpagenum === 'undefined' || !newpagenum) {
                newpagenum = curpage
            }
            if (newpagenum !== curpage) {
                url = "?page=" + newpagenum + "&limit={{ page_obj.paginator.per_page }}"
                console.log("Going to URL:", url)
                window.location.href = url
            }
        }
    </script>
    <!-- Model list view built-in Pagination -->
    <!-- Allow user to reduce the number of rows per page and see the number of results -->
    {% if page_obj.paginator.object_list.count > 0 %}
        <br>
        <div style="float: left;">
            <!-- Generate the "Showing N to M of T rows," message -->
            {% if page_obj.number|intmultiply:page_obj.paginator.per_page > page_obj.paginator.object_list.count %}
                <!-- Different calculations for the last page -->
                {% define page_obj.paginator.object_list.count as last_row %}
            {% else %}
                {% define page_obj.number|intmultiply:page_obj.paginator.per_page as last_row %}
            {% endif %}
            Showing {{ page_obj.number|add:-1|intmultiply:page_obj.paginator.per_page|add:1 }} to {{ last_row }} of {{ page_obj.paginator.object_list.count }} rows,

            <!-- Generate the rows per page select list -->
            {% define '10 25 50 100 250 500 1000 0' as per_page_opts_str %}
            {% filter_page_size_list per_page_opts_str.split page_obj.paginator.object_list.count page_obj.paginator.per_page as per_page_opts %}
            {% if page_obj.paginator.per_page >= page_obj.paginator.object_list.count %}
                {% get_rows_per_page_select_list per_page_opts "paginate_by" 0 %}
            {% else %}
                {% get_rows_per_page_select_list per_page_opts "paginate_by" page_obj.paginator.per_page %}
            {% endif %}
            rows per page
        </div>
    {% endif %}
    <!-- Actually paginate when there's more than 1 page of results -->
    {% if page_obj.has_other_pages %}
        <div style="float: right;" class="btn-group" role="group">
            {% with 3 as flank %}  <!-- flank = the number of pages to link to the left and right of the current page -->
                <!-- Generate the "<"/previous button -->
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                {% endif %}

                <!-- Generate the "1" button if the current page is more than flank-size away and the left side ellipsis button if there are pages between 1 and the pages close to the current page -->
                {% if 1 <= flank|multiply:-1|add:page_obj.number %}
                    <a href="?page=1&limit={{ page_obj.paginator.per_page }}" class="btn btn-outline-primary">
                        1
                    </a>
                    {% if 1 <= flank|add:1|multiply:-1|add:page_obj.number %}
                        <button class="btn btn-outline-primary" onclick="askForPage({{ page_obj.number }}, {{ page_obj.paginator.num_pages }})">
                            &hellip;
                        </button>
                    {% endif %}
                {% endif %}

                <!-- Generate pagination buttons for pages close to the current page.  This includes a "selected" button for the current page. -->
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_number %}
                        <button class="btn btn-outline-primary active">
                            <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                        </button>
                    {% elif page_number > flank|multiply:-1|add:page_obj.number and page_number < page_obj.number|add:flank %}
                        <a href="?page={{ page_number }}&limit={{ page_obj.paginator.per_page }}" class="btn btn-outline-primary">
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}

                <!-- Generate the right side ellipsis button if there are pages between the pages close to the current page and the last page, and a button for the last page if the current page is more than flank-size away -->
                {% if page_obj.paginator.num_pages >= page_obj.number|add:flank %}
                    {% if page_obj.paginator.num_pages >= page_obj.number|add:flank|add:-1 %}
                        <button class="btn btn-outline-primary" onclick="askForPage({{ page_obj.number }}, {{ page_obj.paginator.num_pages }})">
                            &hellip;
                        </button>
                    {% endif %}
                    <a href="?page={{ page_obj.paginator.num_pages }}&limit={{ page_obj.paginator.per_page }}" class="btn btn-outline-primary">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                {% endif %}

                <!-- Generate the ">"/next button -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&limit={{ page_obj.paginator.per_page }}" class="btn btn-outline-primary">&raquo;</a>
                {% endif %}
            {% endwith %}
        </div>
    {% endif %}
    <br><br>
{% elif pager %}
    {% comment %} Advanced Search Pagination (assumed, though the "pager" object could be used for other pagination as well) {% endcomment %}
    <script>
        document.addEventListener("DOMContentLoaded", function(){

            var myform = document.getElementById("{{ pager.form_id }}")
            var rowselem = document.getElementById("{{ pager.rows_input_id }}")
            if (typeof rowselem !== 'undefined' && rowselem) {
                rowselem.addEventListener("change", function (event) {
                    set_template_cookie("{{ pager.rows_per_page_field }}", event.target.value)
                    setPage(1)
                    submitForm()
                })
            }
            // Submits the form with a show_stats true value after the message about it possibly taking a few seconds appears...
            var statselem = document.getElementById("{{ pager.other_field_ids.show_stats }}")
            {% if not stats.populated %}
                $('#resultstats').on('shown.bs.collapse', function (e) {
                    statselem.value = true
                    submitForm()
                })
            {% else %}
                $('#resultstats').on('show.bs.collapse', function () {
                    statselem.value = true
                })
                $('#resultstats').on('hide.bs.collapse', function () {
                    statselem.value = false
                })
            {% endif %}

            updateColumnSortControls()
        })

        function updateColumnSortControls() {
            // Add sort controls to every sortable column header (div around th contents with class 'sortable')

            // The column ID must match the database field path contained in the pager's order_by member variable, e.g. "peak_group__msrun_sample__sample__animal__name"
            sorted_column_id = "{{ pager.order_by }}"
            sorted_dir = {% if pager.order_dir is None %}"undefined"{% else %}"{{ pager.order_dir }}"{% endif %}

            // Check that the sorted column ID is valid
            sorted_column_elem = document.getElementById(sorted_column_id)
            if (typeof sorted_column_elem === "undefined" || !sorted_column_elem) {
                if (sorted_column_id !== "" && sorted_column_id !== "None") {
                    alert("ERROR: Could not find sortable div element with the ID " + sorted_column_id + ".  Make sure a div element containing the class 'sortable' and the given ID exists in the template.  Abandonning sorted column control settings.")
                }
                // Else: No explicit sort exists, all columns should be "both"
                console.log("Sort column not set")
            }

            $('.sortable').each(function() {
                var elem_id = this.id
                if (elem_id === sorted_column_id) {
                    // I think bootstrap table's javascript is adding "both" on page load...
                    this.classList.remove("both")
                    if (sorted_dir === "undefined" || !sorted_dir || sorted_dir === "asc") {
                        this.classList.add("asc")
                    } else if (sorted_dir === "desc") {
                        this.classList.add("desc")
                    } else {
                        alert("Invalid order by direction [" + sorted_dir + "].  Must be None, 'asc', or 'desc'.  Abandonning sorted column control settings.")
                    }
                } else {
                    this.classList.add('both')
                }
            })
        }

        function sortColumn(elem) {
            isBoth = $(elem).hasClass("both")
            isAsc = $(elem).hasClass("asc")
            isDesc = $(elem).hasClass("desc")

            sort_col_id = elem.id

            if (isBoth) {
                setPage(1)
                setOrderBy(sort_col_id)
                setOrderDir("asc")
            } else if (isAsc) {
                setOrderBy(sort_col_id)
                setOrderDir("desc")
            } else if (isDesc){
                setOrderBy(sort_col_id)
                setOrderDir("asc")
            } else {
                // This should not happen
                alert("ERROR: sortColumn called from an element (ID: " + sort_col_id + ") that is not set up for sorting.  Make sure sortColumn is being called from an element containing the sortable class.")
                return
            }

            submitForm()
        }

        function toggleStats(obj) {
            {% if not stats.populated %}
                var statselem = document.getElementById("{{ pager.other_field_ids.show_stats }}")
                if (statselem !== "undefined" && statselem) {
                    $('#resultstats').collapse("show")
                } else {
                    console.error("Unable to retrieve the show_stats button.")
                }
            {% else %}
                console.log("Value in stats.populated: " + "{{ stats.populated }}")
            {% endif %}
        }

        function submitForm() {
            var myform = document.getElementById("{{ pager.form_id }}")
            myform.submit();
        }

        function setOrderBy(field_path) {
            setPageFormValue("{{ pager.orderby_input_id }}", field_path)
        }

        function setOrderDir(dir) {
            setPageFormValue("{{ pager.orderdir_input_id }}", dir)
        }

        function setPage(pagenum){
            setPageFormValue("{{ pager.page_input_id }}", pagenum)
        }

        function promptForPage(curpage, num_pages){
            valid = false
            canceled = false
            errmsg = ""
            while(!valid){
                var newpagestr = prompt(errmsg + "Enter a page number between 1 and " + num_pages + ":", curpage);
                if(typeof newpagestr === 'undefined' || !newpagestr){
                    canceled = true
                    valid = true
                } else {
                    var newpagenum = parseInt(newpagestr);
                    if(isNaN(newpagenum)){
                        errmsg = "Error: [" + newpagestr + "] is not an integer.\n"
                    } else if(newpagenum < 1) {
                        errmsg = "Error: [" + newpagestr + "] must be greater than 0.\n"
                    } else if(newpagenum > num_pages) {
                        errmsg = "Error: [" + newpagestr + "] must be less than or equal to the number of pages: [" + num_pages + "].\n"
                    } else {
                        valid = true
                    }
                }
            }
            if(!canceled){
                setPage(newpagenum)
                submitForm()
            }
        }

        function setPageFormValue(elem_id, val) {
            var input_elem = document.getElementById(elem_id)
            if (typeof input_elem !== 'undefined' && input_elem) {
                input_elem.value = val;
            } else {
                alert("Could not find page form input element: " + elem_id + ".  Make sure the input element's ID is set to this value.")
            }
        }

        function restoreDefaults() {
            // I wanted to have this inside display.html, but since reloading does a GET and not a POST, the current page needs to be POSTed, so it made sense to put it here for the form POST of the current page
            var hidarray = $("#advsrchres").bootstrapTable('getHiddenColumns')
            for (const item of hidarray) {
                set_template_cookie(item["field"] + "-data-visible", "__default__")
            }
            var visarray = $("#advsrchres").bootstrapTable('getVisibleColumns')
            for (const item of visarray) {
                set_template_cookie(item["field"] + "-data-visible", "__default__")
            }
            var myform = document.getElementById("{{ pager.form_id }}")
            myform.submit();
        }
    </script>

    {% comment %} We need at least a hidden form to support server side sorting {% endcomment %}
    <div class="fixed-table-pagination" style="{% if pager.tot|gt:pager.min_rows_per_page %}padding-top: 10px;{% else %}display:none;{% endif %}">
        <form action="{{ pager.action }}" id="{{ pager.form_id }}" method="POST">
            {% csrf_token %}
            {{ pager.page_form.qryjson }}
            {{ pager.page_form.order_by }}
            {{ pager.page_form.order_direction }}
            {{ pager.page_form.page }}
            {{ pager.page_form.paging }}
            {{ pager.page_form.show_stats }}
            {{ pager.page_form.stats }}
            <div style="float: left;">
                Showing {{ pager.start }} to {{ pager.end }} of {{ pager.tot }} rows, {{ pager.page_form.rows }} rows per page
            </div>
            {% if pager.tot|gt:pager.rows %}
                <div style="float: right;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% for pg in pager.pages %}
                                {% if pg.navigable %}
                                    <li class="page-item">
                                        <button type="submit" class="page-link" id="advanced-page-submit" onclick="setPage({{ pg.val }})" name="{{ pager.submit_name }}">{{ pg.name }}</button>
                                    </li>
                                {% else %}
                                    {% if pg.val == pager.page %}
                                        <li class="page-item active">
                                            <div class="page-link">{{ pg.name }} <span class="sr-only">(current)</span></div>
                                        </li>
                                    {% elif pg.name == "..." %}
                                        <li class="page-item" onclick="promptForPage({{ pager.page }}, {{ pager.num_pages }})">
                                            <a class="page-link" href="#">{{ pg.name }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">{{ pg.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </form>
    </div>
{% endif %}
