{% load static %}

<!-- Sidebar -->
<!-- ref: https://getbootstrap.com/docs/5.0/components/list-group/-->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action text-primary">Dashboard</a>
        <a href="{% url 'compound_list' %}" class="list-group-item list-group-item-action bg-light">Compounds</a>
        <a href="{% url 'study_list' %}" class="list-group-item list-group-item-action bg-light">Studies</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Protocols</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Animals</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Samples</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">MS Runs</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Peak Groups</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Peak Data</a>
    </div>
</div>