{% load table_tags %}
{% block content %}
<div>
    <table>
        <!-- Column Headers -->
        {% if sub_object_list %}
            <tr>
                {% for hdr in subfieldnames_verbose %}
                    <th>
                        {{ hdr }}
                    </th>
                {% endfor %}
            </tr>
        {% endif %}

        <!-- Records/rows -->
        {% for rec in sub_object_list %}
            <tr>
                {% for fld in subfieldnames %}
                    <td>
                        {% if forloop.first %}
                            {% with subtable|lower|add:"_detail" as lv %}
                                <a href="{% url lv rec|value_from_model:'id' %}">
                            {% endwith %}
                        {% endif %}
                        {% include "subfieldview.html" with rec=rec subtable=subtable fld=fld %}
                        {% if forloop.first %}
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
