{% extends "base.html" %}
{% load static %}

{% block head_extras %}
    {{ block.super }}

    <link href="{% static 'css/file_tree.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h4 id="animal-sample-accucor-data-submission-process">Data Submission Process</h4>
    <hr />
    <small class="text-muted">
        Feel free to submit data as you generate it.  Your study does not have to be complete for submission.  You can
        iteratively submit accucor/isocorr files with their metadata described in the study doc (aka animal/sample
        sheet), as you finish them.  Each one can be an additional separate submission to the same study.<br>
        <br>
    </small>
    <ol>
        <h5><li><a href="{% url 'validate' %}">Build a TraceBase Submission</a> <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#build-submission">more</a></li></h5>
        <div id="build-submission" class="collapse">
            <ol>
                <li>
                    Go to the
                    <a href="{% url 'validate' %}">Build a TraceBase Submission</a>
                    page and enter
                    <span class="tooltip-hint" text-tooltip="AccuCor/IsoCorr excel files">peak annotation files</span>
                    into the peak annotation files field
                </li>
                <li>
                    OPTIONAL: Enter an existing
                    <span class="tooltip-hint" text-tooltip="Animal/Sample excel file">study doc</span>
                </li>
                <li>
                    You will get back a new (or updated) study doc copy that is automatically downloaded.  If any issues
                    are detected, a status report will be added to the page.
                </li>
                <li>
                    Move on to the next section, but note that after you flesh out your study doc, you can at any point,
                    come back to this page and submit your study file and peak annotation files to automatically
                    add more samples, get a status report detailing any issues uncovered in your data, and also
                    automatically fix some issues.
                </li>
            </ol>
        </div>
        <h5><li>Fill in Animal/Sample details <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#flesh-submission">more</a></li></h5>
        <div id="flesh-submission" class="collapse">
            <ol>
                <li>
                    Fill in the Animals sheet <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#animals-details">more</a>
                    <div id="animals-details" class="collapse">
                        <ol>
                            <li>
                                Provide a unique identifier for each  mouse in your study.
                            </li>
                            <li>
                                Fill in additional details about each of the mice in your study. Note that there are
                                comments in the column headers to help describe each of the fields.
                            </li>
                            <li>
                                Pay particular attention to the Infusate, Feeding Status, Treatment, and Study fields.
                            </li>
                        </ol>
                    </div>
                </li>
                <li>
                    Fill in the Samples sheet <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#samples-details">more</a>
                    <div id="samples-details" class="collapse">
                        <ol>
                            <li>
                                IMPORTANT - Ensure that the Sample Name column is consistent with the sample names in
                                your AccuCor/IsoCorr files.
                            </li>
                            <li>
                                Fill in additional sample details, making sure that the Tissue values match one of
                                those in the Tissue sheet and the Animal ID values match one of those in the Animals
                                sheet.
                            </li>
                        </ol>
                    </div>
                </li>
                <li>
                    Fill in Treatments sheet <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#treatments-details">more</a>
                    <div id="treatments-details" class="collapse">
                        <ol>
                            <li>
                                Treatment options used in previously loaded datasets will have been pre-filled, choose from these if they are appropriate to maintain consistency.
                            </li>
                            <li>
                                If there are any novel treatments in your study, add a name and description for each.
                            </li>
                        </ol>
                    </div>
                </li>
            </ol>
        </div>
        <h5><li><a href="{{ submission_form_url }}">Submit your data</a> <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#send-submission">more</a></li></h5>
        <div id="send-submission" class="collapse">
            <ol>
                <li>
                    Add your data (<code>study.xlsx</code>, <code>accucor.xlsx</code> & <code>isocorr.xlsx</code>
                    files, and optional <code>sample.mzXML</code> files) to the <em>{{ submission_drive_type }}</em>:
                    <code>{{ submission_drive_folder }}</code> with the following structure:
                    <div class="tree">
                        <ul>
                            <li>
                                <i class="fa fa-folder-open"></i> {{ submission_drive_folder }}
                                <ul>
                                    <li>
                                        <i class="fa fa-folder-open"></i> user_name
                                        <ul>
                                            <li>
                                                <i class="fa fa-folder-open"></i> study_name_1
                                                <ul>
                                                    <li><div file-tooltip="aka animal/sample sheet">study_name.xlsx</div></li>
                                                    <div file-tooltip="Organize AccuCor/IsoCorr files in subdirectories however you wish">
                                                        <li>peak_annotation_name_1.xlsx</li>
                                                        <li>peak_annotation_name_2.xlsx</li>
                                                        <li>peak_annotation_name_N.xlsx</li>
                                                    </div>
                                                    <li><div file-tooltip="Organize mzXML files in subdirectories however you wish">*.mzXML</div></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li>
                    Fill out and submit the <a href="{{ submission_form_url }}">TraceBase Study Submission form</a>
                </li>
            </ol>
        </div>
    </ol>
    <h6>What happens next</h6>
    <ol>
        <li>
            We'll review your study to ensure that everything will load smoothly. If there are any issues, we'll contact
            you to sort everything out.
        </li>
        <li>
            The study data will be loaded into TraceBase and we'll send you an email with a link to view the data to
            make sure everything looks correct and you can start browsing your data.
        </li>
    </ol>
    <hr>
    <small class="text-muted">
        <p>
            <a href="{{ submission_feedback_url }}">Contact us</a>
            anytime if you have any questions, concerns, or comments If, after your submission, you need to follow-up
            or would like to check-in on the upload status,
            <a href="{{ submission_feedback_url }}">let us know</a>.<br>

            See the
            <a href="{{ submission_doc_url }}">{{ submission_doc_name }}</a>
            for a more complete set of instructions and FAQ.
        </p>
    </small>
{% endblock %}
