{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>

        <h4 id="animal-sample-accucor-data-submission-process">Data Submission Process</h4>
        <hr />
        <p>An important part of TraceBase is collecting and maintaining a consistent set of metadata for each sample. Use the following instructions to submit your Animal, Sample, &amp; Accucor Data.</p>
        <ol>
            <h5 id="create-a-sample-sheet"><li>Create a Sample Sheet</li></h5>
            <ol>
                <li><a href="https://docs.google.com/spreadsheets/d/1ywj9BvwX76ygRc5iXHwmzBcg1CWc5eFjLGOC6NtSHo8/copy?copyComments=true">Copy</a> the TraceBase Animal and Sample Table Template.
                </li>
                <li>Fill in the <em>Animals</em> sheet <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#fill-animals">more</a>
                    <div id="fill-animals" class="collapse">
                        <ol>
                            <li>Give each mouse in your study a <em>unique id</em>.</li>
                            <li>Fill in additional details about each of the mice in your study. Note that
                                there are comments in the column headers to help describe each of the
                                fields.
                            </li>
                            <li>Pay particular attention to the <em>Infusate</em>, <em>Feeding Status</em>,
                                <em>Treatment</em>, and <em>Study</em> fields.
                            </li>
                        </ol>
                    </div>
                </li>
                <li>Fill in the <em>Samples</em> sheet <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#fill-samples">more</a>
                    <div id="fill-samples" class="collapse">
                        <ol>
                            <li><strong>IMPORTANT</strong> - Ensure that the <em>Sample Name</em> column is consistent with the
                                sample names in your AccuCor/IsoCorr files.
                            </li>
                            <li>Fill in additional sample details, making sure that the <em>Tissue</em> values
                                match one of those in the <em>Tissue</em> sheet and the <em>Animal ID</em> values match
                                one of those in the <em>Animals</em> sheet.
                            </li>
                        </ol>
                    </div>
                </li>
                <li>Fill in <em>Treatments</em> sheet <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#fill-treatments">more</a>
                    <div id="fill-treatments" class="collapse">
                        <ol>
                            <li>Provide a list of treatments used in the study, along with a description
                                of each.</li>
                        </ol>
                    </div>
                </li>
            </ol>
            <!-- Commenting out until #569 is implemented
                <h5 id="optional-validate-your-data" class="mt-2"><li>Optional: Validate your data</li></h5>
                <ol>
                    <li>Download your Animal and Sample Table in Excel format.</li>
                    <li><a href="{% url 'validate' %}">Validate</a> your sample table and AccuCor/IsoCorr files</li>
                    <li>If there are any errors reported, fix them in the Google spreadsheet and return to step 1.<br/>
                        <div class="text-muted">Note: In general, you should <strong>NOT</strong> edit your AccuCor/IsoCorr
                            files. It&#39;s simplest and often best to resolve issues by
                            editing your animal and sample table file.</div>
                    </li>
                </ol>
            -->
            <h5 id="submit-your-data-on-google-drive" class="mt-2"><li>Submit your data on Google Drive</li></h5>
            <ol>
                <li>Create a folder for your study in the <a target="_blank"
                    href="https://drive.google.com/drive/folders/1cBy3eezfr_0vmaz8RGodga6A8n3hkm1m?usp=sharing">TraceBase
                    Study Submission folder</a> on Google Drive <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#study-submission-folder-details">more</a></li>
                <div id="study-submission-folder-details" class="collapse">
                    <ol>
                        <li>Create a folder with your name (if it doesn&#39;t already exist).</li>
                        <li>Create a new folder for this study.</li>
                    </ol>
                </div>
                <li>Copy the Animal and Sample spread sheet and any AccuCor/IsoCorr files that should be included in the study</li>
                <li>Submit the <a href="https://forms.gle/vEfJEfhPbCbkybpE7">TraceBase Study Submission
                    form</a> <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#study-submission-details">more</a>
                    <div id="study-submission-details" class="collapse">
                        The form will ask for the following information:
                        <ol>
                            <li>Study Name</li>
                            <li>Link to Google Drive folder with study submission.</li>
                            <li>Mass Spectrometry Details
                                <ol>
                                    <li>Mass Spec Run Date</li>
                                    <li>Mass Spec Operator</li>
                                    <li>LC method(s)</li>
                                    <li>MS mode(s)</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </li>
            </ol>
            <h5 id="what-happens-next" class="mt-2"><li>What happens next</li></h5>
            <ol>
                <li>We&#39;ll review your study to ensure that everything will load smoothly. If
                    there are any issues, we&#39;ll contact you to sort everything out.
                </li>
                <li>The study data will be loaded into TraceBase and we&#39;ll send you an email
                    with a link to view the data to make sure everything looks correct and you
                    can start browsing your data.
                </li>
            </ol>
            <p><a href="https://forms.gle/LNk4kk6RJKZWM6za9">Contact us</a> anytime if you have any
                questions, concerns, or comments If, after your submission, you need to
                follow-up or would like to check-in on the upload status, <a href="https://forms.gle/LNk4kk6RJKZWM6za9">let us
                    know</a>.</p>
        </ol>
    </div>
{% endblock %}
