{% extends "base/base.html" %}
{% load customtags %}

{% block title %}Compounds{% endblock %}

{% block content %}
<div>
    <h4>List of Compounds</h4>
    {% if df %}
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="comp_tracer_list"
        data-toggle="table"
        data-buttons-class="primary"
        data-buttons-align="left"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-show-export="true"
        data-export-types="['csv', 'txt', 'excel']"
        data-export-data-type="all"
        data-height="1200"
        data-virtual-scroll="true"
        data-pagination="true"
        data-page-size="100"
        data-page-list="[25, 50, 100, 200, 500, All]">
        <thead>
            <tr>
                <th data-filter-control="input" data-sortable="true" data-field="Compound">Compound</th>
                <th data-filter-control="input" data-sortable="true" data-field="Formula">Formula</th>
                <th data-filter-control="input" data-sortable="true" data-field="HMDB-ID">HMDB ID</th>
                <th data-filter-control="input" data-sortable="true" data-field="Synonyms">Synonyms</th>
                <th data-filter-control="select" data-sortable="true" data-field="Is-Tracer">Is Tracer</th>
                <th data-filter-control="input" data-sortable="true" data-field="Total-Animal-Groupby-Compound">Total Animal By Tracer Parent Compound</th>
            </tr>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td><a href="{% url 'compound_detail' i.compound_id %}">{{ i.compound_name }}</a></td>
                <td>{{ i.formula }}</td>
                <td>
                    {% if i.hmdb_id %}
                        <a href="{{ i.hmdb_id|hmdb_id_url }}">{{ i.hmdb_id }}</a>
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ i.synonyms|join:"; " }}</td>
                <td>{{ i.total_infusate_by_compound|yesno:"yes,no" }}</td>
                <td>{{ i.total_animal_by_compound }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
