{% load customtags %}

{% if out_df %}
<div>
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="animal_list_stats"
        data-toggle="table"
        data-buttons-class="primary"
        data-buttons-align="left"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-show-export="true"
        data-export-types="['csv', 'txt', 'excel']"
        data-pagination="true"
        data-page-size="10"
        data-page-list="[10, 25, 50, 100, 200, 500, All]">
        <thead>
            <tr>
                <th data-filter-control="input" data-sortable="true" data-sorter="htmlSorter" data-field="Animal">Animal</th>
                <th data-filter-control="input" data-sortable="true" data-sorter="htmlSorter" data-width="7" data-width-unit="%" data-field="Studies">Studies</th>
                <th data-filter-control="select" data-sortable="true" data-field="Genotype">Genotype</th>
                <th data-filter-control="input" data-field="Infusate">Infusate</th>
                <th data-filter-control="input" data-sortable="true" data-sorter="htmlSorter" data-field="Compounds">Tracer Compound(s)</th>
                <th data-filter-control="input" data-sortable="true" data-sorter="htmlSorter" data-field="Tracers">Tracer(s)</th>
                <th data-filter-control="input" data-sortable="true" data-width="5" data-width-unit="%" data-field="Concentrations">Tracer Concentration(s) (mM)</th>
                <th data-filter-control="select" data-sortable="true" data-field="Labeled-Elements">Labeled Element(s)</th>
                <th data-filter-control="input" data-sortable="true" data-field="Infusion-Rate">Infusion Rate (ul/min/g)</th>
                <th data-filter-control="input" data-sortable="true" data-sorter="htmlSorter" data-field="Treatment">Treatment</th>
                <th data-filter-control="input" data-sortable="true" data-visible="false" data-field="Body_Weight">Body Weight (g)</th>
                <th data-filter-control="input" data-sortable="true" data-visible="false" data-field="Age">Age (weeks)</th>
                <th data-filter-control="select" data-sortable="true" data-visible="false" data-field="Sex">Sex</th>
                <th data-filter-control="input" data-sortable="true" data-visible="false" data-field="Diet">Diet</th>
                <th data-filter-control="input" data-sortable="true" data-field="Feeding-Status">Feeding Status</th>
                <th data-filter-control="select" data-sortable="true" data-field="Sample-Owners">Sample Owners</th>
                <th data-filter-control="input" data-sortable="true" data-field="Total-Tissue">Total Tissues</th>
                <th data-filter-control="input" data-sortable="true" data-field="Total-Sample">Total Samples</th>
                <th data-filter-control="input" data-sortable="true" data-field="Total-MSRun">Total MSRuns</th>
            </tr>
        </thead>
        <tbody>
            {% for i in out_df %}
            <tr>
                <td><a href="{% url 'animal_detail' i.animal_id %}">{{ i.animal }}</a></td>
                <td>{{ i.study_id_name_list|obj_hyperlink:"study" }}</td>
                <td>{{ i.genotype }}</td>
                <td class="nobr">
                    {% if i.infusate_id %}
                        {% if i.tracer_group_name %}
                            <a href="{% url 'infusate_detail' i.infusate_id %}">{{ i.tracer_group_name }}</a>
                        {% elif not i.infusate_tracer_group_name and i.infusate_name %}
                            <a href="{% url 'infusate_detail' i.infusate_id %}">{{ i.infusate_name }}</a>
                        {% else %}
                            <a href="{% url 'infusate_detail' i.infusate_id %}"> Warning: need to verify name for infusate_id={{ i.infusate_id }}</a>
                        {% endif %}
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ i.compound_id_name_list|obj_hyperlink:"compound" }}</td>
                <td>{{ i.tracer_id_name_list|obj_hyperlink:"tracer, newline" }}</td>
                <td>{{ i.concentrations|join:", " }}</td>
                <td>{{ i.labeled_elements|join:", " }}</td>
                <td>{{ i.infusion_rate }}</td>
                <td>
                    {% if i.treatment %}
                        <a href="{% url 'protocol_detail' i.treatment_id %}">{{ i.treatment }}</a>
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ i.body_weight }}</td>
                <td>{{ i.age|duration_iso_to_weeks }}</td>
                <td>{{ i.sex }}</td>
                <td>{{ i.diet }}</td>
                <td>{{ i.feeding_status }}</td>
                <td>{{ i.sample_owners|join:", "}}</td>
                <td>{{ i.total_tissue }}</td>
                <td>{{ i.total_sample }}</td>
                <td>{{ i.total_msrun }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
