<!doctype html>
<html lang="en-US">
    <head>
        <title>Advanced Search Download</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">

    </head>
    <body>
        <script>
            {% if progress and progress.id %}
                var progressUrl = '{% url "task_status" progress.id %}';
                var downloadUrl = '{% url "task_output" progress.id %}';
            {% else %}
                var progressUrl = '{% url "task_status" "unknown" %}';
                var downloadUrl = '{% url "task_output" "unknown" %}';
            {% endif %}
            var progressElem

            document.addEventListener("DOMContentLoaded", function(){
                progressElem = document.getElementById('download_progress')
                updateProgress(progressUrl, 0);
            })

            function updateProgress (progressUrl, cnt) {
                console.log("Getting progress")
                fetch(progressUrl).then(function(response) {
                    console.log("Parsing progress", response)
                    if (response.ok) {
                        response.json().then(function(data) {
                            console.log(data)
                            // update the appropriate UI components
                            var details = data["details"]
                            cnt += 1
                            if (data.state === "PENDING" || typeof details === "undefined" || !details) {
                                if (cnt < 10) {
                                    setProgress("Starting... " + cnt);
                                    setTimeout(updateProgress, 500, progressUrl, cnt);
                                } else {
                                    fallbackDownload()
                                }
                            } else {
                                if (data.state === "COMPILING_DATA" && details.current < details.total) {
                                    setProgress("Compiling data. Progress: " + details.current + "/" + details.total);
                                    setTimeout(updateProgress, 500, progressUrl, cnt);
                                } else {
                                    setProgress("Success. " + details.current + "/" + details.total + ".  Downloading...");
                                    console.log("Download should be ready: ", data)
                                    window.location.replace(downloadUrl);
                                }
                            }
                        });
                    } else {
                        fallbackDownload()
                    }
                });
            }
            function fallbackDownload() {
                setProgress("Download progress updates failed.  Downloading without progress updates.  If your download does not start automatically, click the download link that was revealed below.");
                console.error("Celery Progress Failed");
                fallbackElem = document.getElementById('fallback');
                fallbackElem.style = ""
                fallbackForm = document.getElementById('advanced-search-download-form');
                fallbackForm.submit()
            }
            function setProgress (state) {
                progressElem.innerHTML = state
            }
        </script>

        <h5>Downloading all Advanced Search Results</h5>

        <div id="download_progress" class="mb-2">Initializing...</div>

        {% if debug %}
            <br>
            <div>
                Debug Controls:
                <div>
                    {% if progress and progress.id %}
                        <a href="{% url 'task_status' progress.id %}">Debug Check Status</a><br>
                        <a href="{% url 'task_output' progress.id %}">Debug Download</a>
                    {% else %}
                        No debug links available.
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div id="fallback" style="display:none;">
            <form action="/DataRepo/search_advanced_tsv_fallback/" id="advanced-search-download-form" method="POST">
                {% csrf_token %}
                {{ fallback_download_form.qryjson }}
                <button type="submit" class="btn btn-link" id="advanced-download-submit" title="Export data">download</button>
                <!-- There are multiple form types, but we only need one set of form management inputs. We can get away with this because all the fields are the same. -->
                {{ fallback_download_form.management_form }}
            </form>
        </div>
    </body>
</html>
