<!doctype html>
<html lang="en-US">
    <head>
        <script>
            var progressUrl = '{% url "task_status" progress.id %}';
            var downloadUrl = '{% url "task_output" progress.id %}';
            var progressElem

            document.addEventListener("DOMContentLoaded", function(){
                progressElem = document.getElementById('download_progress')
                updateProgress(progressUrl, 0);
            })

            function updateProgress (progressUrl, cnt) {
                fetch(progressUrl).then(function(response) {
                    response.json().then(function(data) {
                        console.log(data)
                        // update the appropriate UI components
                        var details = data["details"]
                        cnt += 1
                        if (data.state === "PENDING" || typeof details === "undefined" || !details) {
                            if (cnt < 10) {
                                setProgress("Starting... " + cnt);
                                setTimeout(updateProgress, 500, progressUrl, cnt);
                            } else {
                                setProgress("Download attempt failed.");
                            }
                        } else {
                            if (data.state === "COMPILING_DATA" && details.current < details.total) {
                                setProgress("Compiling data. Progress: " + details.current + "/" + details.total);
                                setTimeout(updateProgress, 500, progressUrl, cnt);
                            } else {
                                setProgress("Success. " + details.current + "/" + details.total + ".  Downloading...");
                                window.location.replace(downloadUrl);
                            }
                        }
                    });
                });
            }
            function setProgress (state) {
                progressElem.innerHTML = state
            }
        </script>
    </head>

    <body>
        Downloading all Advanced Search Results
        <div id="download_progress">Initializing...</div>
        <a href='{% url "task_status" progress.id %}'>Debug Check Status</a>
        <a href='{% url "task_output" progress.id %}'>Debug Download</a>
    </body>
</html>
