<!doctype html>
<html lang="en-US">
    <head>
        <script>
            var progressUrl = '{% url "task_status" progress.id %}';  // django template usage
            var progressElem

            document.addEventListener("DOMContentLoaded", function(){
                progressElem = document.getElementById('download_progress')
                updateProgress(progressUrl);
            })

            function updateProgress (progressUrl) {
                fetch(progressUrl).then(function(response) {
                    response.json().then(function(data) {
                        // update the appropriate UI components
                        setProgress(data.state);
                        // setTimeout(updateProgress, 500, progressUrl);
                    });
                });
            }
            function setProgress (state) {
                progressElem.innerHTML = state
            }
        </script>
    </head>

    <body>
        This is a test 
        <div id="download_progress">0</div>
        <a href='{% url "task_status" progress.id %}'>test</a>
    </body>
</html>
