{% load bsttags %}

{% with column_value=object|get_rec_val:column %}
    {% if column_value|is_model_obj and column_value|has_attr:"get_absolute_url" %}
        {# Render model object in string context for the link's display value #}
        <a href="{{ column_value|get_absolute_url }}">{{ column_value.pretty_name }}</a>
    {% else %}
        {% if column_value is None %}
            <a href="{{ object.get_absolute_url }}"><span class="text-muted">None</span></a>
        {% else %}
            <a href="{{ object.get_absolute_url }}">{{ object.pretty_name }}</a>
        {% endif %}
    {% endif %}
{% endwith %}
