{% load bsttags %}

{% with column_value=object|get_rec_val:column %}
    {% if column_value|is_model_obj and column_value|has_attr:"get_absolute_url" %}
        {# Render model object in string context for the link's display value #}
        <a href="{{ column_value|get_absolute_url }}">{{ column_value.pretty_short_name }}</a>
    {% else %}
        {% if column.linked %}<a href="{{ object.get_absolute_url }}">{% endif %}
        {% if column_value is None %}
            <span class="text-muted">None</span>
        {% else %}
            {{ object.infusate.pretty_short_name }}
        {% endif %}
        {% if column.linked %}</a>{% endif %}
    {% endif %}
{% endwith %}
