<th data-field="{{ column.name }}"
    data-valign="top"
    {% if column.searchable %}
        data-filter-control="{{ column.filter_control }}"
        {% if column.filter_control == column.FILTER_CONTROL_CHOICES.SELECT %}
            data-filter-data="obj:filterSelectOptions.{{ column.name }}"
            {% if column.many_related %}
                data-filter-strict-search="false"
            {% elif column.strict_select is True %}
                data-filter-strict-search="true"
            {% else %}
                data-filter-strict-search="false"
            {% endif %}
        {% endif %}
        data-filter-default="{{ column.filter }}"
    {% endif %}
    {% if column.sortable %}
        data-sortable="{{ column.sortable }}"
        data-sorter="{{ column.sorter }}"
    {% endif %}
    data-visible="{{ column.visible }}">
    {{ column.header }}
</th>
