<th data-field="{{ column.name }}"
    data-valign="top"
    {% if column.searchable %}
        data-filter-control="{{ column.filterer.input_method }}"
        data-filter-custom-search="{{ column.filterer }}"
        {% if column.filterer.initial %}
            data-filter-default="{{ column.filterer.initial }}"
        {% endif %}
    {% endif %}
    {% if column.sortable %}
        data-sortable="{{ column.sortable|lower }}"
        data-sorter="{{ column.sorter }}"
    {% endif %}
    data-visible="{{ column.visible }}">
    {{ column.header }}
</th>
