---
name: TraceBase Tests

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: tracebase
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready --health-interval 10s
          --health-timeout 5s --health-retries 5
      postgres_validation:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: tracebase_validation
        ports:
          - 5433:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready --health-interval 10s
          --health-timeout 5s --health-retries 5
    env:
      DATABASE_NAME: tracebase
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: 127.0.0.1
      DATABASE_PORT: 5432
      DEBUG: true
      CACHES: TEST_CACHES
      VALIDATION_ENABLED: true
      VALIDATION_DATABASE_NAME: tracebase_validation
      VALIDATION_DATABASE_USER: postgres
      VALIDATION_DATABASE_PASSWORD: postgres
      VALIDATION_DATABASE_HOST: 127.0.0.1
      VALIDATION_DATABASE_PORT: 5433
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: psycopg2 prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install python-dev libpq-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements.txt
      - name: Check makemigrations are complete
        run: python manage.py makemigrations --check --dry-run
      - name: Run migrations
        run: python manage.py migrate
      - name: Make the cache table
        run: python manage.py createcachetable
      - name: Run the validation database migrations
        run: |
          python manage.py migrate --database validation
      - name: Make the cache table in the validation database
        run: |
          python manage.py createcachetable \
          --database validation
      - name: Run tests
        run: python manage.py test
      - name: Load initial tissue records
        run: |
          python manage.py load_study \
          "DataRepo/example_data/tissues/loading.yaml"
      - name: Load example compounds
        run: |
          python manage.py load_compounds \
          --compounds \
          "DataRepo/example_data/consolidated_tracebase_compound_list.tsv"
      - name: Load example sample table
        run: |
          python manage.py load_samples \
            "DataRepo/example_data/obob_sample_table.tsv"
      - name: Load example accucor 6eaas data
        run: |
          python manage.py load_accucor_msruns \
          --accucor-file "DataRepo/example_data/obob_maven_6eaas_inf.xlsx" \
          --protocol "Default" \
          --date "2021-04-29" \
          --researcher "Michael Neinast" \
          --new-researcher
      - name: Load example accucor 6eaas serum data
        run: |
          python manage.py load_accucor_msruns \
          --accucor-file "DataRepo/example_data/obob_maven_6eaas_serum.xlsx" \
          --protocol "Default" \
          --date "2021-04-29" \
          --researcher "Michael Neinast"
      - name: Load example accucor c160 data
        run: |
          python manage.py load_accucor_msruns \
          --accucor-file "DataRepo/example_data/obob_maven_c160_inf.xlsx" \
          --protocol "Default" \
          --date "2021-04-29" \
          --researcher "Michael Neinast"
      - name: Load example accucor c160 serum data
        run: |
          python manage.py load_accucor_msruns \
          --accucor-file "DataRepo/example_data/obob_maven_c160_serum.xlsx" \
          --protocol "Default" \
          --date "2021-04-29" \
          --researcher "Michael Neinast"
