---
name: TraceBase Tests

"on": [push, workflow_dispatch]

# Set permissions for GITHUB_TOKEN
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions: read-all

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13.4
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: tracebase
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready --health-interval 10s
          --health-timeout 5s --health-retries 5
    env:
      DATABASE_NAME: tracebase
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: 127.0.0.1
      DATABASE_PORT: 5432
      DEBUG: true
      CACHES: TEST_CACHES
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.10
      - name: psycopg2 prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install python3-dev libpq-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements.txt
      - name: Check makemigrations are complete
        run: python manage.py makemigrations --check --dry-run
      - name: Run migrations
        run: python manage.py migrate
      - name: Make the cache table
        run: python manage.py createcachetable
      - name: Run tests
        run: python manage.py test
      - name: Load fixtures
        run: |
          python manage.py loaddata \
          "DataRepo/fixtures/lc_methods.yaml" \
          "DataRepo/fixtures/data_formats.yaml" \
          "DataRepo/fixtures/data_types.yaml"
      - name: Load example study doc
        run: |
          python manage.py load_study \
          --infile \
          "DataRepo/data/tests/small_obob/glucose/small_obob_animal_and_sample_table.xlsx"
