{% extends "base.html" %}
{% load customtags %}

{% block title %}Animals{% endblock %}

{% block content %}
<h4>List of Animals</h4>
<br>
<h5><a href="{% url 'study_summary' %}">Browse All Studies, Animals, and Samples</a></h5>
<br>
    {% with out_df=df %}
        {% include "DataRepo/includes/animal_list_stats_table.html" %}
    {% endwith %}
<br>
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script>
        let rowCount = {{ df|length }}
        let vScroll = undefined
        let tabHeight = undefined
        if ( rowCount < 5 ) {
            tabHeight = undefined
            vScroll = undefined
        } else if (rowCount >= 5 && rowCount < 10) {
            tabHeight = 800
            vScroll = true
        } else {
            tabHeight = 1000
            vScroll = true
        }
        $('#animal_list_stats').bootstrapTable({
            height: tabHeight,
            virtualScroll: vScroll
        })
    </script>
{% endblock %}
