{% extends "base.html" %}
{% load customtags %}

{% block title %}Animal Record - {{ animal.name }}{% endblock %}

{% block content %}
<div>
    <h4>Animal Record - {{ animal.name }}</h4>

    <table id="animal_detail" class="table table-sm table-hover table-bordered table-striped" w-auto mw-100>
        <thead>
            <tr>
                <th>Name</th>
                <th>Genotype</th>
                <th>Infusate</th>
                <th>Infusion Rate (ul/min/g)</th>
                <th>Treatment</th>
                <th>Body Weight</th>
                <th>Age (weeks)</th>
                <th>Sex</th>
                <th>Diet</th>
                <th>Feeding Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.genotype }}</td>
                <td>
                {% if animal.infusate_id %}
                    <a href="{% url 'infusate_detail' animal.infusate_id %}">
                        {{ animal.infusate.name }}
                    </a>
                {% else %}
                    None
                {% endif %}
                </td>
                <td>{{ animal.infusion_rate }}</td>
                <td>
                    {% if animal.treatment %}
                        <a href="{% url 'protocol_detail' animal.treatment_id %}">{{ animal.treatment }}</a>
                    {% else %}
                        {{ animal.treatment }}
                    {% endif %}
                </td>
                <td>{{ animal.body_weight }}</td>
                <td>{{ animal.age|durationToWeeks }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.diet }}</td>
                <td>{{ animal.feeding_status }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <li><a href="{% url 'search_basic' 'Animal' 'id' 'iexact' animal.id 'peakgroups' %}">Peak Groups</a></li>
    <li><a href="{% url 'search_basic' 'Animal' 'id' 'iexact' animal.id 'peakdata' %}">Peak Data</a></li>
    <li><a href="{% url 'search_basic' 'Animal' 'id' 'iexact' animal.id 'fcirc' %}">Fcirc Data</a></li>
</div>
<br>
<div>
    <h6>Sample Data for the Animal</h6>
    {% with out_df=df %}
        {% include "DataRepo/includes/animal_sample_msrun_table.html" %}
    {% endwith %}
    <br>
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script>
        let rowCount = {{ df|length }}
        let vScroll = undefined
        let tabHeight = undefined
        if ( rowCount < 5 ) {
            tabHeight = undefined
            vScroll = undefined
        } else if (rowCount >= 5 && rowCount < 10) {
            tabHeight = 800
            vScroll = true
        } else {
            tabHeight = 1000
            vScroll = true
        }
        $('#sample_list').bootstrapTable({
            height: tabHeight,
            virtualScroll: vScroll
        })
    </script>
{% endblock %}