{% extends "base.html" %}
{% load customtags %}

{% block title %}Animal Record - {{ animal.name }}{% endblock %}

{% block content %}
<div>
    <h4>Animal Record - {{ animal.name }}</h4>

    <table id="animal_detail" class="table table-sm table-hover table-bordered table-striped" w-auto mw-100>
        <thead>
            <tr>
                <th>Name</th>
                <th>Genotype</th>
                <th>Tracer</th>
                <th>Treatment</th>
                <th>Labeled Atom</th>
                <th>Labeled Count</th>
                <th>Tracer Infusion Rate (ul/min/g)</th>
                <th>Tracer Infusion Concentration (mM)</th>
                <th>Body Weight</th>
                <th>Age (weeks)</th>
                <th>Sex</th>
                <th>Diet</th>
                <th>Feeding Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.genotype }}</td>
                <td>
                {% if animal.tracer_compound.name %}
                    <a href="{% url 'compound_detail' animal.tracer_compound.id %}">
                        {{ animal.tracer_compound.name }}
                    </a>
                {% else %}
                    None
                {% endif %}
                </td>
                <td>
                    {% if animal.treatment %}
                        <a href="{% url 'protocol_detail' animal.treatment_id %}">{{ animal.treatment }}</a>
                    {% else %}
                        {{ animal.treatment }}
                    {% endif %}
                </td>
                <td>{{ animal.tracer_labeled_atom }}</td>
                <td>{{ animal.tracer_labeled_count }}</td>
                <td>{{ animal.tracer_infusion_rate }}</td>
                <td>{{ animal.tracer_infusion_concentration }}</td>
                <td>{{ animal.body_weight }}</td>
                <td>{{ animal.age |durationToWeeks }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.diet }}</td>
                <td>{{ animal.feeding_status }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div>
    <h5><a href="{% url 'search_basic' 'Animal' 'id' 'exact' animal.id 'peakgroups' %}">View Peak Group Data</a></h5>
    <h5><a href="{% url 'search_basic' 'Animal' 'id' 'exact' animal.id 'peakdata' %}">View Peak Data</a></h5>
    <h5><a href="{% url 'search_basic' 'Animal' 'id' 'exact' animal.id 'fcirc' %}">View Fcirc Data</a></h5>
</div>
<br>
<div>
    <h5>Sample Data for the Animal:</h5>
    {% if df %}
    <table class="table table-sm table-hover table-bordered table-striped table-responsive" w-auto mw-100
        id="sample_list_per_animal"
        data-toggle="table"
        data-buttons-class="primary"
        data-buttons-align="left"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-show-search-clear-button="true"
        data-show-fullscreen="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-export="true"
        data-export-types="['csv', 'txt', 'excel']">
        <thead>
            <tr>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Animal">Animal</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Study">Studies</th>
                <th data-filter-control="select" data-sorter="alphanum" data-sortable="true" data-field="Genotype">Genotype</th>
                <th data-visible="false" data-sorter="numericOnly" data-field="Body-Weight">Body Weight (g)</th>
                <th data-filter-control="input" data-sorter="numericOnly" data-sortable="true" data-visible="false" data-field="Age">Age (weeks)</th>
                <th data-filter-control="select" data-sorter="alphanum" data-sortable="true" data-visible="false" data-field="Sex">Sex</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-visible="false" data-field="Diet">Diet</th>
                <th data-filter-control="select" data-sorter="alphanum" data-sortable="true" data-visible="false" data-field="Feeding-Status">Feeding Status</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Treatment">Treatment</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Tracer">Tracer</th>
                <th data-filter-control="select" data-sorter="alphanum" data-sortable="true" data-visible="false" data-field="Labeled-Atom">Labeled Element</th>
                <th data-filter-control="input" data-sorter="numericOnly" data-sortable="true" data-visible="false" data-field="Labeled-Count">Labeled Count</th>
                <th data-filter-control="input" data-sorter="numericOnly" data-sortable="true" data-visible="false" data-field="Tracer-Infusion-Rate">Infusion Rate (ul/min/g)</th>
                <th data-filter-control="input" data-sorter="numericOnly" data-sortable="true" data-visible="false" data-field="Tracer-Infusion-Concentration">Infusion Concentration (mM)</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Tissue">Tissue</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Sample">Sample</th>
                <th data-filter-control="select" data-sorter="alphanum" data-sortable="true" data-field="Sample-Owner">Sample Owner</th>
                <th data-filter-control="input" data-sorter="alphanum" data-sortable="true" data-field="Sample-Date">Sample Date</th>
                <th data-filter-control="input" data-sorter="numericOnly" data-sortable="true" data-visible="false" data-field="Collect-Time-Minutes">Sample Collect Time (m)</th>
                <th data-sorter="alphanum" data-field="MSRun-Detail">MSRun Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td>{{ i.animal }}</td>
                <td>{{ i.study_id_name_list |obj_hyperlink:"study" }}</td>
                <td>{{ i.genotype }}</td>
                <td>{{ i.body_weight }}</td>
                <td>{{ i.age |duration_iso_to_weeks }}</td>
                <td>{{ i.sex }}</td>
                <td>{{ i.diet }}</td>
                <td>{{ i.feeding_status }}</td>
                <!--handle None value for treatement-->
                <td>
                {% if i.treatment %}
                    <a href="{% url 'protocol_detail' i.treatment_id %}">{{ i.treatment }}</a>
                {% else %}
                    None
                {% endif %}
                </td>
                <td>
                {% if i.tracer %}
                    <a href="{% url 'compound_detail' i.tracer_compound_id %}">{{ i.tracer }}</a>
                {% else %}
                    None
                {% endif %}
                </td>
                <td>{{ i.tracer_labeled_atom }}</td>
                <td>{{ i.tracer_labeled_count }}</td>
                <td>{{ i.tracer_infusion_rate }}</td>
                <td>{{ i.tracer_infusion_concentration }}</td>
                <td><a href="{% url 'tissue_detail' i.tissue_id %}">{{ i.tissue }}</a></td>
                <td><a href="{% url 'sample_detail' i.sample_id %}">{{ i.sample }}</a></td>
                <td>{{ i.sample_owner }}</td>
                <td>{{ i.sample_date |convert_iso_date }}</td>
                <td>{{ i.sample_time_collected |duration_iso_to_mins }}</td>
                <td>
                    {% if i.msrun_id %}
                        <a href="{% url 'msrun_detail' i.msrun_id %}">MSRun Detail</a>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script>
        var $table = $('#sample_list_per_animal')

        $.extend($.fn.bootstrapTable.columnDefaults, {
            valign: "top"
        });

        $('#sample_list_per_animal').bootstrapTable()
    </script>
{% endblock %}
