{% extends "base.html" %}
{% load customtags %}
{% load static %}

{% block title %}Archive Files{% endblock %}

{% block content %}
<h4>List of Archive Files</h4>
<br>
<div>
    {% if archive_file_list %}
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="file_list"
        data-toggle="table"
        data-buttons-align="left"
        data-buttons-class="primary"
        data-buttons="customButtonsFunction"
        data-export-types="['csv', 'txt', 'excel']"
        data-export-data-type="all"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-search-on-enter-key="true"
        data-search-text="{{ search_term }}"
        data-sort-name="{{ order_by }}"
        data-sort-order="{{ order_dir }}"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-show-export="true">
        <thead>
            <tr>
                <th data-field="{{ filename.name }}"
                    data-valign="top"
                    data-filter-control="{{ filename.filter_control }}"
                    data-filter-default="{{ filename.filter }}"
                    data-sortable="{{ filename.sortable }}"
                    data-sorter="{{ filename.sorter }}"
                    data-visible="{{ filename.visible }}">File Name</th>
                <th data-field="{{ imported_timestamp_str.name }}"
                    data-valign="top"
                    data-filter-control="{{ imported_timestamp_str.filter_control }}"
                    data-filter-default="{{ imported_timestamp_str.filter }}"
                    data-sortable="{{ imported_timestamp_str.sortable }}"
                    data-sorter="{{ imported_timestamp_str.sorter }}"
                    data-visible="{{ imported_timestamp_str.visible }}">File Import Timestamp</th>
                <th data-field="{{ data_type__name.name }}"
                    data-valign="top"
                    data-filter-control="{{ data_type__name.filter_control }}"
                    data-filter-default="{{ data_type__name.filter }}"
                    data-sortable="{{ data_type__name.sortable }}"
                    data-sorter="{{ data_type__name.sorter }}"
                    data-visible="{{ data_type__name.visible }}">File Type</th>
                <th data-field="{{ data_format__name.name }}"
                    data-valign="top"
                    data-filter-control="{{ data_format__name.filter_control }}"
                    data-filter-default="{{ data_format__name.filter }}"
                    data-sortable="{{ data_format__name.sortable }}"
                    data-sorter="{{ data_format__name.sorter }}"
                    data-visible="{{ data_format__name.visible }}">File Format</th>
                <th data-field="{{ first_study.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_study.filter_control }}"
                    data-filter-default="{{ first_study.filter }}"
                    data-sortable="{{ first_study.sortable }}"
                    data-sorter="{{ first_study.sorter }}"
                    data-visible="{{ first_study.visible }}">Study</th>
                <th data-field="{{ peak_groups.name }}"
                    data-valign="top"
                    data-filter-control="{{ peak_groups.filter_control }}"
                    data-filter-default="{{ peak_groups.filter }}"
                    data-sortable="{{ peak_groups.sortable }}"
                    data-sorter="{{ peak_groups.sorter }}"
                    data-visible="{{ peak_groups.visible }}">Peak Group Data</th>
                <th data-field="{{ peak_data.name }}"
                    data-valign="top"
                    data-filter-control="{{ peak_data.filter_control }}"
                    data-filter-default="{{ peak_data.filter }}"
                    data-sortable="{{ peak_data.sortable }}"
                    data-sorter="{{ peak_data.sorter }}"
                    data-visible="{{ peak_data.visible }}">Peak Data</th>
            </tr>
        </thead>
        <tbody>
            {% for archive_file in archive_file_list %}
                <tr>
                    <td><a href="{% url 'archive_file_detail' archive_file.pk %}">{{ archive_file.filename }}</a></td>
                    <td>{{ archive_file.imported_timestamp_str }}</td>
                    <td>{{ archive_file.data_type.name }}</td>
                    <td>{{ archive_file.data_format.name }}</td>
                    <td>
                        <!-- Hidden value for sorting -->
                        <span style="display:none">{{ archive_file.first_study.name }}</span>
                        {# Rendering performance of this template is dramatically improved by only rendering archive_file.first_study when there are not "more_studies".  more_studies is only ever not None when there is more than 1 study associated with archive_file. #}
                        {% if archive_file.more_studies %}
                            {# Collect all the studies (when there's more than 1) #}
                            {% with studies=""|make_list %}
                                {# This assumes that all the peak groups that link to this peak annotation ArchiveFile record link to the same MSRunSample/Sample/Animal #}
                                {% if archive_file.peak_groups.first %}
                                    {% for study in archive_file.peak_groups.first.msrun_sample.sample.animal.studies.all %}
                                        {% append_unique studies study %}
                                    {% endfor %}
                                {% endif %}
                                {# This assumes that all the peak groups that link to this MS mz ArchiveFile record link to the same Sample/Animal #}
                                {% if archive_file.mz_to_msrunsamples.first %}
                                    {% for study in archive_file.mz_to_msrunsamples.first.sample.animal.studies.all %}
                                        {% append_unique studies study %}
                                    {% endfor %}
                                {% endif %}
                                {# This assumes that all the peak groups that link to this MS raw ArchiveFile record link to the same Sample/Animal #}
                                {% if archive_file.raw_to_msrunsamples.first %}
                                    {% for study in archive_file.raw_to_msrunsamples.first.sample.animal.studies.all %}
                                        {% append_unique studies study %}
                                    {% endfor %}
                                {% endif %}
                                {% if order_dir|lower == "asc" %}
                                    {% for study in studies|dictsort:"name" %}
                                        <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>{% if not forloop.last %};<br>{% endif %}
                                    {% endfor %}
                                {% else %}
                                    More studies: {{ archive_file.more_studies }} was not None<br>
                                    {% for study in studies|dictsortreversed:"name" %}
                                        <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>{% if not forloop.last %};<br>{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% elif archive_file.first_study %}
                            More studies: {{ archive_file.more_studies }} was None and there is a first_study<br>
                            <a href="{% url 'study_detail' archive_file.first_study.id %}">{{ archive_file.first_study.name }}</a>
                        {% else %}
                            More studies: {{ archive_file.more_studies }} was None and there was NOT a first_study<br>
                            None
                        {% endif %}
                    </td>
                    <td>
                        {% if archive_file.data_type.code == "ms_peak_annotation" %}
                            <a href="{% url 'search_basic' 'PeakAnnotationFile' 'id' 'iexact' archive_file.id 'peakgroups' %}">Peak Groups</a>
                        {% elif archive_file.data_format.code == "ms_raw" %}
                            <a href="{% url 'search_basic' 'RAWFile' 'id' 'iexact' archive_file.id 'peakgroups' %}">Peak Groups</a>
                        {% elif archive_file.data_format.code == "mzxml" %}
                            <a href="{% url 'search_basic' 'MZFile' 'id' 'iexact' archive_file.id 'peakgroups' %}">Peak Groups</a>
                        {% else %}
                            No peak groups are linked to this file
                        {% endif %}
                    </td>
                    <td>
                        {% if archive_file.data_type.code == "ms_peak_annotation" %}
                            <a href="{% url 'search_basic' 'PeakAnnotationFile' 'id' 'iexact' archive_file.id 'peakdata' %}">Peak Data</a>
                        {% elif archive_file.data_format.code == "ms_raw" %}
                            <a href="{% url 'search_basic' 'RAWFile' 'id' 'iexact' archive_file.id 'peakdata' %}">Peak Data</a>
                        {% elif archive_file.data_format.code == "mzxml" %}
                            <a href="{% url 'search_basic' 'MZFile' 'id' 'iexact' archive_file.id 'peakdata' %}">Peak Data</a>
                        {% else %}
                            No peak data are linked to this file
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>There are no Archive Files.</p>
    {% endif %}
</div>
{% endblock %}
