{% extends "base.html" %}
{% load customtags %}

{% block title %}Archive Files{% endblock %}

{% block content %}
<h4>List of Archive Files</h4>
<br>
<div>
    {% if archive_file_list %}
    <script>
        function updatePage() {
            let limit = getCookie("archive-file-limit", {{ limit }});
            let page = getCookie("archive-file-page", 1);

            url = "{% url 'archive_file_list' %}?page=" + page
            if (typeof limit !== "undefined" && limit) {
                url += "&limit=" + limit;
            }

            console.log("Going to:", url)
            window.location.href = url;
        }

        function onRowsPerPageChange(numRows) {
            let oldLimit = parseInt(getCookie('archive-file-limit', {{ limit }}));
            if (isNaN(oldLimit)) {
                oldLimit = {{ page_obj.number }};
            }
            let curPage = parseInt(getCookie('archive-file-page'));
            if (isNaN(curPage)) {
                curPage = 1;
            }
            let curOffset = (curPage - 1) * oldLimit + 1;
            let closestPage = curPage;
            setCookie('archive-file-limit', numRows);
            if (numRows !== 0) {
                console.log("CLOSEST NEW PAGE CALC: parseInt(", curOffset, " / ", numRows, ") + 1");
                closestPage = parseInt(curOffset / numRows) + 1;
                // Reset the page
                setCookie("archive-file-page", closestPage);
            }
            console.log("ROWS PER PAGE EVENT", numRows, "CLOSEST NEW PAGE", closestPage, "PREVIOUS OFFSET", curOffset);
            updatePage();
        }

        function onPageChange(page) {
            setCookie('archive-file-page', page)
            console.log("ROWS PER PAGE EVENT", page);
            updatePage();
        }

        function getColumnNames() {
            let columnNames = [];
            // Based on: https://jsfiddle.net/e3nk137y/7436/
            $('#file_list').find('tr:first').each(function(i, row) {
                var cols = [];
                $(this).find('th').each(function(i, col) {
                    fieldName = $(this).data("field");
                    columnNames.push(fieldName);
                });
            });
            return columnNames
        }

        function resetTable() {
            deleteCookie('archive-file-page');
            deleteCookie('archive-file-limit');
            deleteCookie('archive-file-order-by');
            deleteCookie('archive-file-order-dir');
            deleteCookie('archive-file-search');
            columnNames = getColumnNames();
            for (i=0; i < columnNames.length; i++) {
                columnName = columnNames[i];
                deleteCookie('archive-file-filter-' + columnName);
            }
            updatePage();
        }

        function customButtonsFunction () {
            return {
                btnClear: {
                    'icon': 'bi-house',
                    'event': function btnClearTableSettings () {
                        resetTable();
                    }
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function(){
            // Set cookies for the current page and limit that comes from the context and is sent via url params.  Everything else is saved in cookies.
            setCookie('archive-file-page', "{{ page_obj.number }}");
            setCookie('archive-file-limit', {{ limit }});
            setCookie("archive-file-filternames", JSON.stringify(getColumnNames()));

            var loading = true;

            $('#file_list').bootstrapTable({
                onSort: function (orderBy, orderDir) {
                    // Note, I will have to trigger the BST sort to show it's sorted
                    setCookie('archive-file-order-by', orderBy);
                    setCookie('archive-file-order-dir', orderDir);
                    console.log("SORT EVENT:", orderBy, orderDir);
                    // BST sort and server side sort sometimes sort differently (c.i.p. imported_timestamp), so we will always let the sort hit the server to be on the safe side.
                    updatePage();
                },
                onSearch: function (searchTerm) {
                    if (!loading) {
                        // Note, I will have to populate the search on page load
                        // NOTE: Turns out that one page load, a global search event is triggered, so we check to see if anything changed before triggering a page update.
                        let oldTerm = getCookie('archive-file-search');
                        let oldTermDefined = typeof oldTerm === "undefined" || !oldTerm;
                        let newTermDefined = typeof searchTerm === "undefined" || !searchTerm;
                        if (oldTermDefined !== newTermDefined || (oldTermDefined && newTermDefined && oldTerm !== searchTerm)) {
                            setCookie('archive-file-search', searchTerm);
                            console.log("GLOBAL SEARCH EVENT:", searchTerm);
                            // No need to hit the server if we're displaying all results. Just let BST do it.
                            if ({{ limit }} > 0) {
                                updatePage();
                            }
                        }
                    }
                },
                onColumnSearch: function (columnName, searchTerm) {
                    if (!loading) {
                        // NOTE: I will have to populate the column searches on page load
                        // NOTE: Turns out that one page load, a column search event is triggered, so we check to see if anything changed before triggering a page update.
                        let oldTerm = getCookie('archive-file-filter-' + columnName);
                        let oldTermDefined = typeof oldTerm === "undefined" || !oldTerm;
                        let newTermDefined = typeof searchTerm === "undefined" || !searchTerm;
                        if (oldTermDefined !== newTermDefined || (oldTermDefined && newTermDefined && oldTerm !== searchTerm)) {
                            setCookie('archive-file-filter-' + columnName, searchTerm);
                            console.log("COLUMN SEARCH EVENT:", columnName, searchTerm);
                            // No need to hit the server if we're displaying all results. Just let BST do it.
                            if ({{ limit }} > 0) {
                                updatePage();
                            }
                        }
                    }
                },
                onExportStarted: function (event) {
                    // Grab all the data. Note that if I refresh the page, I will have to trigger the download using something like: https://jsfiddle.net/wenyi/wc0zLpef/1/
                    // TODO: Since there's no way to save the selected exportType, add an alert that says that, to export all data, you need to change the rows per page to "All"
                    console.log("EXPORT EVENT", event, "THIS:", this);
                    updatePage();
                },
            });

            // Add click listeners on the rows-per-page-option select list items.  See DataRepo.widgets.ListViewRowsPerPageSelectWidget.
            let rowsPerPageOptionElems = document.getElementsByName("rows-per-page-option");
            console.log("Creating " + rowsPerPageOptionElems.length + " event listeners for rowsPerPageOptionElems")
            for (let i = 0; i < rowsPerPageOptionElems.length; i++) {
                rowsPerPageOptionElems[i].addEventListener("click", function (event) {
                    onRowsPerPageChange($(this).data("value"));
                })
            }

            setTimeout(function () {loading = false}, 2000);
        });
    </script>
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="file_list"
        data-toggle="table"
        data-buttons-align="left"
        data-buttons-class="primary"
        data-buttons="customButtonsFunction"
        data-export-types="['csv', 'txt', 'excel']"
        data-export-data-type="all"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-search-on-enter-key="true"
        data-search-text="{{ search_term|default_if_none:'' }}"
        data-sort-name="{{ order_by|default_if_none:'' }}"
        data-sort-order="{{ order_dir|default_if_none:'asc' }}"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-show-export="true"
        data-virtual-scroll="true">
        <thead>
            <tr>
                <th data-field="filename" data-filter-control="input" data-filter-default="{{ filter_filename|default_if_none:'' }}" data-sortable="true" data-sorter="htmlSorter">File Name</th>
                <th data-field="imported_timestamp_str" data-filter-control="input" data-filter-default="{{ filter_imported_timestamp_str|default_if_none:'' }}" data-sortable="true">File Import Timestamp</th>
                <th data-field="data_type__name" data-filter-control="input" data-filter-default="{{ filter_data_type__name|default_if_none:'' }}" data-sortable="true">File Type</th>
                <th data-field="data_format__name" data-filter-control="input" data-filter-default="{{ filter_data_format__name|default_if_none:'' }}" data-sortable="true">File Format</th>
                <th data-field="studies_str" data-filter-control="input" data-filter-default="{{ filter_studies_str|default_if_none:'' }}" data-sortable="true">Study</th>
                <th data-field="peak_groups" data-valign="top" data-sortable="false">Peak Group Data</th>
                <th data-field="peak_data" data-valign="top" data-sortable="false">Peak Data</th>
            </tr>
        </thead>
        <tbody>
            {% for archive_file in archive_file_list %}
                <tr>
                    <td><a href="{% url 'archive_file_detail' archive_file.pk %}">{{ archive_file.filename }}</a></td>
                    <td>{{ archive_file.imported_timestamp_str }}</td>
                    <td>{{ archive_file.data_type.name }}</td>
                    <td>{{ archive_file.data_format.name }}</td>
                    <td>
                        <!-- Hidden value for sorting -->
                        <span style="display:none">{{ archive_file.studies_str }}</span>
                        {% with studies=""|make_list %}
                            <!-- This assumes that all the peak groups that link to this peak annotation ArchiveFile record link to the same MSRunSample/Sample/Animal -->
                            {% if archive_file.peak_groups.first %}
                                {% for study in archive_file.peak_groups.first.msrun_sample.sample.animal.studies.all %}
                                    {% append_unique studies study %}
                                {% endfor %}
                            {% endif %}
                            <!-- This assumes that all the peak groups that link to this MS mz ArchiveFile record link to the same Sample/Animal -->
                            {% if archive_file.mz_to_msrunsamples.first %}
                                {% for study in archive_file.mz_to_msrunsamples.first.sample.animal.studies.all %}
                                    {% append_unique studies study %}
                                {% endfor %}
                            {% endif %}
                            <!-- This assumes that all the peak groups that link to this MS raw ArchiveFile record link to the same Sample/Animal -->
                            {% if archive_file.raw_to_msrunsamples.first %}
                                {% for study in archive_file.raw_to_msrunsamples.first.msrun_sample.sample.animal.studies.all %}
                                    {% append_unique studies study %}
                                {% endfor %}
                            {% endif %}
                            {% for study in studies %}
                                <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>{% if not forloop.last %};<br>{% endif %}
                            {% endfor %}
                        {% endwith %}
                    </td>
                    <td>
                        {% if archive_file.data_type.code == "ms_peak_annotation" %}
                            <a href="{% url 'search_basic' 'PeakAnnotationFile' 'id' 'iexact' archive_file.id 'peakgroups' %}">Peak Group Data</a>
                        {% elif archive_file.data_format.code == "ms_raw" %}
                            <a href="{% url 'search_basic' 'RAWFile' 'id' 'iexact' archive_file.id 'peakgroups' %}">Peak Group Data</a>
                        {% elif archive_file.data_format.code == "mzxml" %}
                            <a href="{% url 'search_basic' 'MZFile' 'id' 'iexact' archive_file.id 'peakgroups' %}">Peak Group Data</a>
                        {% else %}
                            No peak groups are linked to this file
                        {% endif %}
                    </td>
                    <td>
                        {% if archive_file.data_type.code == "ms_peak_annotation" %}
                            <a href="{% url 'search_basic' 'PeakAnnotationFile' 'id' 'iexact' archive_file.id 'peakdata' %}">Peak Data</a>
                        {% elif archive_file.data_format.code == "ms_raw" %}
                            <a href="{% url 'search_basic' 'RAWFile' 'id' 'iexact' archive_file.id 'peakdata' %}">Peak Data</a>
                        {% elif archive_file.data_format.code == "mzxml" %}
                            <a href="{% url 'search_basic' 'MZFile' 'id' 'iexact' archive_file.id 'peakdata' %}">Peak Data</a>
                        {% else %}
                            No peak data are linked to this file
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>There are no Archive Files.</p>
    {% endif %}
</div>
{% endblock %}
