{% extends "base.html" %}
{% load customtags %}

{% block head_extras %}
    <!-- This adds a custom download button to the bootstrap-table toolbar.  It uses the custom_download form in the template below.  It is based on:
        https://live.bootstrap-table.com/code/UtechtDustin/4195
        https://github.com/wenzhixin/bootstrap-table/pull/5227
        https://github.com/wenzhixin/bootstrap-table/issues/5208
    And is a solution for:
        https://github.com/Princeton-LSI-ResearchComputing/tracebase/issues/1038
    -->
    <script>
        function buttonsFunction() {
            return {
                btnCustomDownload: {
                    'text': 'btnCustomDownload',
                    'icon': 'bi-download',
                    'event': function customDownloadButton () {
                        var myform = document.getElementById("custom_download")
                        myform.submit();
                    },
                    'attributes': {
                        "title": "All Compound Data",
                        "data-test": "btnCustomDownload"
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block title %}Compounds{% endblock %}

{% block content %}
<div>
    <h4>List of Compounds</h4>
    {% if df %}
    <!-- This renders a download button that always downloads all compound data (regardless of what is displayed in the table from the search) -->
    <div style="float: right;">
        {% getDownloadQry "cptemplate" as qry %}
        <form action="/DataRepo/search_advanced_tsv/" id="custom_download" method="POST">
            {% csrf_token %}
            <input type="hidden" name="qryjson" value="{{ qry.json }}">
            <button type="submit" style="display: none;"></button>
        </form>
    </div>
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="comp_tracer_list"
        data-toggle="table"
        data-buttons-class="primary"
        data-buttons-align="left"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-buttons="buttonsFunction"
        data-height="1200"
        data-virtual-scroll="true"
        data-pagination="true"
        data-page-size="100"
        data-page-list="[25, 50, 100, 200, 500, All]">
        <thead>
            <tr>
                <th data-filter-control="input" data-sortable="true" data-field="Compound">Compound</th>
                <th data-filter-control="input" data-sortable="true" data-field="Formula">Formula</th>
                <th data-filter-control="input" data-sortable="true" data-field="HMDB-ID">HMDB ID</th>
                <th data-filter-control="input" data-sortable="true" data-field="Synonyms">Synonyms</th>
                <th data-filter-control="select" data-sortable="true" data-field="Is-Tracer">Is Tracer</th>
                <th data-filter-control="input" data-sortable="true" data-field="Total-Animal-Groupby-Compound">Total Animal By Tracer Parent Compound</th>
            </tr>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td><a href="{% url 'compound_detail' i.compound_id %}">{{ i.compound_name }}</a></td>
                <td>{{ i.formula }}</td>
                <td>
                    {% if i.hmdb_id %}
                        <a href="{{ i.hmdb_id|hmdb_id_url }}">{{ i.hmdb_id }}</a>
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ i.synonyms|join:"; " }}</td>
                <td>{{ i.total_infusate_by_compound|yesno:"yes,no" }}</td>
                <td>{{ i.total_animal_by_compound }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
