{% extends "base.html" %}

{% block title %}Compound Record - {{ compound.name }}{% endblock %}

{% block content %}
<div>
    <h4>Compound Record - {{ compound.name }}</h4>
    <br>
    <table class="table table-bordered table-hover w-auto mw-100">
        <tr>
            <td>Name</td>
            <td>{{ compound.name }}</td>
        </tr>
        <tr>
            <td>Formula</td>
            <td>{{ compound.formula }}</td>
        </tr>
        <tr>
            <td>HMDB ID</td>
            <td><a href="{{ compound.hmdb_url }}" target="_blank">{{ compound.hmdb_id }}</a></td>
        </tr>
    </table>
</div>
{% endblock %}
