{% extends "base_1.html" %}
{% block content %}
<div>
    <h3>TraceBase Dashboard</h3>
    <br>
    <h4>Note: placeholder; will decide the content on this page later</h4>
    <br>
    <ul>
        <a href="{% url 'compound_list' %}" role="button" class="btn btn-primary w-80 mb-2">All Compounds</a>
        <br>
        <a href="{% url 'study_list' %}" role="button" class="btn btn-primary w-80 mb-2">All Studies</a>
        <br>
        <a href="#" role="button" class="btn btn-primary w-80 mb-2">All Protocols</a>
        <br>
        <a href="#" role="button" class="btn btn-primary w-80 mb-2">All Animals</a>
        <br>
        <a href="#" role="button" class="btn btn-primary w-80 mb-2">All Samples</a>
        <br>
        <a href="#" role="button" class="btn btn-primary w-80 mb-2">All MS RUNs</a>
        <br>
        <a href="#" role="button" class="btn btn-primary w-80 mb-2">All Peak Groups</a>
        <br>
        <a href="#" role="button" class="btn btn-primary w-80 mb-2">All Peak AccuCor Data</a>
        <br>
    </ul>
{% endblock %}