{% extends "base.html" %}
{% load static %}
{% load customtags %}

{% block title %}Infusates{% endblock %}

{% block head_extras %}
    <link href="{% static 'css/bootstrap_table_cus1.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h4>List of Infusates</h4>
<div id="div_out_tab">
    {% if df %}
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="infusate_list"
        data-toggle="table"
        data-buttons-class="primary"
        data-buttons-align="left"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-show-export="true"
        data-export-types="['csv', 'txt', 'excel']"
        data-pagination="true"
        data-page-size="100"
        data-page-list="[25, 50, 100, 200, 500, All]">
        <thead>
            <tr>
                <th data-filter-control="input" data-sortable="true" data-sorter ="htmlSorter" data-field="Infusate">Infusate</th>
                <th data-filter-control="input" data-sortable="true" data-field="Tracer-Group">Tracer Group</th>
                <th data-filter-control="select" data-sortable="true" data-field="Labeled-Elements">Labeled Element(s)</th>
                <th data-filter-control="input" data-sortable="true" data-sorter ="htmlSorter" data-field="Compounds">Tracer Compound(s)</th>
                <th data-filter-control="input" data-sortable="true" data-sorter ="htmlSorter" data-field="Tracers">Tracer(s)</th>
                <th data-filter-control="input" data-sortable="true" data-field="Concentrations">Infusion Concentration(s) (mM)</th>
        </thead>
        <tbody>
            {% for i in df %}
            <tr>
                <td><a href="{% url 'infusate_detail' i.infusate_id %}">{{ i.infusate_name }}</a></td>
                <td>{{ i.tracer_group_name }}</td>
                <td>{{ i.labeled_elements|join:", " }}</td>
                <td>{% obj_hyperlink i.compound_id_name_list "compound" newline=True %}</td>
                <td>{% obj_hyperlink i.tracer_id_name_list "tracer" newline=True %}</td>
                <td>{{ i.concentrations|join:", "}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script src="{% static 'js/setTableHeight.js' %}"></script>
    <script>
        let divID = "div_out_tab";
        let pctVH = 0.85;
        let vHeight = setTableHeight(divID, pctVH);
        $('#infusate_list').bootstrapTable({
            height: vHeight,
            virtualScroll: true
        })
    </script>
{% endblock %}
