{% extends "base.html" %}

{% block title %}MS Run Sequence Record - {{ sequence }}{% endblock %}

{% block content %}
<div>
    <h4>MS Run Sequence Record - {{ sequence }}</h4>
    <br>
    <table class="table  table-bordered table-hover w-auto mw-100">
        <tr>
            <td>Instrument</td>
            <td>{{ sequence.instrument }}</td>
        </tr>
        <tr>
            <td>Liquid Chromatography Protocol</td>
            <td><a href="{% url 'lcmethod_detail' sequence.lc_method.id %}">{{ sequence.lc_method.name }}</a></td>
        </tr>
        <tr>
            <td>Date Performed</td>
            <td>{{ sequence.date }}</td>
        </tr>
        <tr>
            <td>Operator</td>
            <td>{{ sequence.researcher }}</td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{% if sequence.notes %}{{ sequence.notes }}{% else %}None{% endif %}</td>
        </tr>
        <tr>
            <td>MS Run Samples</td>
            <td><a href="{% url 'msrunsample_list' %}?msrun_sequence_id={{ sequence.id }}">{{ sequence.msrun_samples.count }}</a></td>
        </tr>
    </table>
</div>
{% endblock %}
