{% extends "base.html" %}

{% block title %}MS Run Sequences{% endblock %}

{% block content %}
    <div>
        <ul>
            <h4>MS Run Sequences</h4>

            {% if sequences %}
                <br>
                <table class="table table-sm table-hover table-bordered table-responsive table-striped w-auto mw-100">
                    <tr>
                        <th>MS Run Sequence Details</th>
                        <th>Instrument</th>
                        <th>LC Protocol</th>
                        <th>Date</th>
                        <th>Operator</th>
                        <th>Notes</th>
                    </tr>
                    {% for msrun_sequence in sequences %}
                        <tr>
                            <td><a href="{% url 'msrunsequence_detail' msrun_sequence.id %}">details</a></td>
                            <td>{{ msrun_sequence.instrument }}</td>
                            <td><a href="{% url 'lcmethod_detail' msrun_sequence.lc_method.id %}">{{ msrun_sequence.lc_method.name }}</a></td>
                            <td>{{ msrun_sequence.date }}</td>
                            <td>{{ msrun_sequence.researcher }}</td>
                            <td>{% if msrun_sequence.notes %}{{ msrun_sequence.notes }}{% else %}None{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are no MS Run Sequences.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}
