{% extends "base.html" %}

{% block title %}MS Run Record - {{ msrun.researcher }}, {{ msrun.date }}{% endblock %}

{% block content %}
<div>
    <h4>MS Run Record - {{ msrun.researcher }}, {{ msrun.date }}</h4>
    <br>
    <table class="table  table-bordered table-hover w-auto mw-100">
        <tr>
            <td>Sample</td>
            <td><a href="{% url 'sample_detail' msrun.sample.id %}">{{ msrun.sample.name }}</a></td>
        </tr>
        <tr>
            <td>Liquid Chromatography Protocol</td>
            <td><a href="{% url 'lcmethod_detail' msrun.lc_method.id %}">{{ msrun.lc_method.name }}</a></td>
        </tr>
        <tr>
            <td>Date Performed</td>
            <td>{{ msrun.date }}</td>
        </tr>
        <tr>
            <td>Researcher</td>
            <td>{{ msrun.researcher }}</td>
        </tr>
    </table>

    <p>
        <a href="{% url 'peakgroup_list' %}?msrun_id={{ msrun.id }}">
            View {{ msrun.peak_groups.count }} Peak Groups
        </a>
    </p>
</div>
{% endblock %}
