{% extends "base.html" %}

{% block title %}MS Run Samples{% endblock %}

{% block content %}
    <div>
        <ul>
            <h4>MS Run Samples</h4>

            {% if objects %}
                <br>
                <table class="table table-sm table-hover table-bordered table-responsive table-striped w-auto mw-100">
                    <tr>
                        <th>MS Run Sample Details</th>
                        <th>Sample</th>
                        <th>Sequence</th>
                        <th>Polarity</th>
                        <th>Raw File</th>
                        <th>MZ File</th>
                    </tr>
                    {% for msrun_sample in objects %}
                        <tr>
                            <td><a href="{% url 'msrunsample_detail' msrun_sample.id %}">details</a></td>
                            <td><a href="{% url 'sample_detail' msrun_sample.sample.id %}">{{ msrun_sample.sample.name }}</a></td>
                            <td><a href="{% url 'msrunsequence_detail' msrun_sample.msrun_sequence.id %}">{{ msrun_sample.msrun_sequence }}</td>
                            <td>{% if msrun_sample.polarity %}{{ msrun_sample.polarity }}{% else %}None{% endif %}</td>
                            <td>{% if msrun_sample.ms_raw_file %}<a href="{% url 'archive_file_detail' msrun_sample.ms_raw_file.id %}">{{ msrun_sample.ms_raw_file }}</a>{% else %}None{% endif %}</td>
                            <td>{% if msrun_sample.ms_data_file %}<a href="{% url 'archive_file_detail' msrun_sample.ms_data_file.id %}">{{ msrun_sample.ms_data_file }}</a>{% else %}None{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are no MS Run Samples.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}
