{% extends "base.html" %}

{% block title %}MS Run Details{% endblock %}

{% block content %}
<div>
    <h4>MS Run Details:</h4>
    <br>
    <table class="table  table-bordered table-hover w-auto mw-100">
        <tr>
            <td>MS Run ID</td>
            <td>{{ msrun.id }}</td>
        </tr>
        <tr>
            <td>Sample Name</td>
            <td><a href="{% url 'sample_detail' msrun.sample.id %}">{{ msrun.sample.name }}</a></td>
        </tr>
        <tr>
            <td>Protocol Name</td>
            <td><a href="{% url 'protocol_detail' msrun.protocol.id %}">{{ msrun.protocol.name }}</a></td>
        </tr>
        <tr>
            <td>Date Performed</td>
            <td>{{ msrun.date }}</td>
        </tr>
        <tr>
            <td>Researcher</td>
            <td>{{ msrun.researcher }}</td>
        </tr>
    </table>

    <p>
        <a href="{% url 'peakgroup_list' %}?msrun_id={{ msrun.id }}">
            View {{ msrun.peak_groups.count }} Peak Groups
        </a>
    </p>
</div>
{% endblock %}
