{% extends "base.html" %}

{% block title %}MS Run Sequence Record - {{ object }}{% endblock %}

{% block content %}
<div>
    <h4>MS Run Sequence Record - {{ object }}</h4>
    <br>
    <table class="table  table-bordered table-hover w-auto mw-100">
        <tr>
            <td>Instrument</td>
            <td>{{ object.instrument }}</td>
        </tr>
        <tr>
            <td>Liquid Chromatography Protocol</td>
            <td><a href="{% url 'lcmethod_detail' object.lc_method.id %}">{{ object.lc_method.name }}</a></td>
        </tr>
        <tr>
            <td>Date Performed</td>
            <td>{{ object.date }}</td>
        </tr>
        <tr>
            <td>Operator</td>
            <td>{{ object.researcher }}</td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{% if object.notes %}{{ object.notes }}{% else %}None{% endif %}</td>
        </tr>
        <tr>
            <td>MS Run Samples</td>
            <td><a href="{% url 'msrunsample_list' %}?msrun_sequence_id={{ object.id }}">{{ object.msrun_samples.count }}</a></td>
        </tr>
    </table>
</div>
{% endblock %}
