{% extends "base.html" %}
{% load static %}
{% load customtags %}

{% block title %}MSRun Protocols{% endblock %}

{% block head_extras %}
    <link href="{% static 'css/bootstrap_table_cus2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
{% if msrun_protocol_list %}
<div>
    <h4>MSRun Protocols</h4>
    {% with protocols=msrun_protocol_list %}
        {% include "DataRepo/includes/protocol_table.html" %}
    {% endwith %}
</div>
{% else %}
    <p>There are no protocols for MSRuns.</p>
{% endif %}
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script src="{% static 'js/setTableHeight.js' %}"></script>
    <script>
        let divID = "div_out_tab";
        let pctVH = 0.85;
        let vHeight = setTableHeight(divID, pctVH);
        $('#protocol_list').bootstrapTable({
            height: vHeight,
            virtualScroll: true
        })
    </script>
{% endblock %}
