{% extends "base.html" %}

{% block title %}Peak Group Set Record - {{ peakgroupset.filename }}{% endblock %}

{% block content %}
<div>
    <h4>Peak Group Set Record - {{ peakgroupset.filename }}</h4>
    <br>
    <table class="table  table-bordered table-hover w-auto mw-100">
        <tr>
            <td>AccuCor File Name</td>
            <td>{{ peakgroupset.filename }}</td>
        </tr>
        <tr>
            <td>File Import Timestamp</td>
            <td>{{ peakgroupset.imported_timestamp }}</td>
        </tr>
    </table>
</div>

<h5><a href="{% url 'search_basic' 'PeakGroupSet' 'filename' 'iexact' peakgroupset.filename 'peakgroups' %}">View Peak Group Data</a></h5>
<h5><a href="{% url 'search_basic' 'PeakGroupSet' 'filename' 'iexact' peakgroupset.filename 'peakdata' %}">View Peak Data</a></h5>

{% endblock %}
