{% extends "base.html" %}

{% block title %}Peak Data{% endblock %}

{% block content %}
<div>
    <ul>
        <h4>List of Peak Data</h4>

        {% if peakdata_list %}
        <br>
        <table class="table table-sm table-hover table-bordered table-responsive table-striped w-auto mw-100">
            <tr>
            <th>Peak Group Name</th>
            <th>Labeled Element</th>
            <th>Labeled Count</th>
            <th>Raw Abundance</th>
            <th>Corrected Abundance</th>
            <th>Median Mass/Charge(m/z)</th>
            <th>Median Retention Time</th>
            </tr>
            {% for peakdata in peakdata_list %}
            <tr>
            <td><a href="{% url 'peakgroup_detail' peakdata.peak_group_id %}">{{ peakdata.peak_group.name }}</a></td>
            <td>{{ peakdata.labeled_element }}</td>
            <td>{{ peakdata.labeled_count }}</td>
            <td>{{ peakdata.raw_abundance }}</td>
            <td>{{ peakdata.corrected_abundance }}</td>
            <td>{{ peakdata.med_mz }}</td>
            <td>{{ peakdata.med_rt }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are no peak data.</p>
        {% endif %}
    </ul>
</div>
{% endblock %}
