{% extends "base.html" %}

{% block title %}PeakGroup Sets{% endblock %}

{% block content %}
<div>
    <ul>
        <h4>List of Peak Group Sets</h4>

        {% if peakgroupset_list %}
        <br>
        <table class="table table-sm table-hover table-striped table-bordered">
            <tr>
            <th>AccuCor File Name</th>
            <th>File Import Timestamp</th>
            </tr>
            {% for peakgroupset in peakgroupset_list %}
            <tr>
            <td><a href="{% url 'peakgroupset_detail' peakgroupset.id %}">{{ peakgroupset.filename }}</a></td>
            <td>{{ peakgroupset.imported_timestamp }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are no PeakGroup Set.</p>
        {% endif %}
    </ul>
</div>
{% endblock %}
