{% extends "base.html" %}

{% block title %}Peak Group Details{% endblock %}

{% block content %}
<div>
    <h4>Peak Group Details:</h4>
    <br>
    <table class="table table-bordered table-hover w-auto mw-100">
        <tr>
            <td>Peak Group Name</td>
            <td>{{ peakgroup.name }}</td>
        </tr>
        <tr>
            <td>Formula</td>
            <td>{{ peakgroup.formula }}</td>
        </tr>
        <tr>
            <td>Peak Group Set (Accucor File Name)</td>
            <td>
                <a href="{% url 'peakgroupset_detail' peakgroup.peak_group_set.id %}">
                    {{ peakgroup.peak_group_set.filename }}
                </a>
            </td>
        </tr>
        <tr>
            <td>MS Run ID</td>
            <td><a href="{% url 'msrun_detail' peakgroup.msrun.id %}">{{ peakgroup.msrun.id }}</a></td>
        </tr>
        <tr>
            <td>MS Run Sample Name</td>
            <td>
                <a href="{% url 'sample_detail' peakgroup.msrun.sample.id %}">
                    {{ peakgroup.msrun.sample.name }}
                </a>
            </td>
        </tr>
    </table>
    <p>
        <a href="{% url 'peakdata_list' %}?peak_group_id={{ peakgroup.id }}">
            View {{ peakgroup.peak_data.count }} Peak Measurement Data
        </a>
    </p>
</div>
{% endblock %}
