{% extends "base.html" %}

{% block title %}Peak Groups{% endblock %}

{% block content %}
<div>
    <ul>
        <h3>List of Peak Groups</h3>

        {% if peakgroup_list %}
        <br>
        <table class="table table-sm table-hover table-bordered table-responsive table-striped w-auto mw-100">
            <tr>
            <th>Peak Group</th>
            <th>Formula</th>
            <th>Sample</th>
            <th>MS Run</th>
            <th>Peak Annotation Filename</th>
            </tr>
            {% for peakgroup in peakgroup_list %}
            <tr>
            <td><a href="{% url 'peakgroup_detail' peakgroup.id %}">{{ peakgroup.name }}</a></td>
            <td>{{ peakgroup.formula }}</td>
            <td>
                <a href="{% url 'sample_detail' peakgroup.msrun_sample.sample.id %}">
                    {{ peakgroup.msrun_sample.sample.name }}
                </a>
            </td>
            <td><a href="{% url 'msrun_detail' peakgroup.msrun.id %}">{{ peakgroup.msrun.researcher }}, {{ peakgroup.msrun.date }}</a></td>
            <td>
                {% if peakgroup.peak_annotation_file %}
                <a href="{% url 'peakgroupset_detail' peakgroup.peak_annotation_file.id %}">
                    {{ peakgroup.peak_annotation_file.filename }}
                </a>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are no Peak Groups.</p>
        {% endif %}
    </ul>
</div>
{% endblock %}
