{% extends "base.html" %}

{% block title %}Protocol Record - {{ protocol.name }}{% endblock %}

{% block content %}
<div>
    {% if protocol.category == "animal_treatment" %}
        <h4>Animal Treatment - {{ protocol.name }}</h4>
    {% elif protocol.category == "msrun_protocol" %}
        <h4>Mass Spectrometry Protocol - {{ protocol.name }} </h4>
    {% endif %}
    
    <table class="table table-bordered table-hover w-auto mw-100">
        <tr>
            <td>Name</td>
            <td>{{ protocol.name }}</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>{{ protocol.category }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ protocol.description }}</td>
        </tr>
    </table>
</div>
<br>
<div>
    {% if protocol.category == "animal_treatment" %}
        <h5>Studies using this protocol for animal treatment</h5>
    {% elif protocol.category == "msrun_protocol" %}
        <h5>Studies using this protocol for MSRuns</h5>
    {% endif %}
    <br>
    {% with out_df=df %}
        {% include "DataRepo/includes/study_list_stats_table_short.html" %}
    {% endwith %}
    <br>
</div>
{% endblock %}
