{% extends "base.html" %}
{% load customtags %}

{% block title %}Samples{% endblock %}

{% block content %}
<h4>List of Samples</h4>
<br>
<div>
    {% comment %}
        TODO: Implement the select lists for the data-filter-control for genotype, sex, feeding_status, researcher, and ms_operator like this:
        Set dicts for the values to javascript variables, e.g.:
            {{ sex|json_script:"sex" }}
        Set a data filter variable in the th tags
            var:filterDefaults"
        See: https://stackoverflow.com/a/35091749
    {% endcomment %}
    <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
        id="{{ table_id }}"
        data-toggle="table"
        data-buttons-align="left"
        data-buttons-class="primary"
        data-buttons="customButtonsFunction"
        data-export-types="['csv', 'txt', 'excel']"
        data-export-data-type="all"
        data-filter-control="true"
        data-search="true"
        data-search-align="left"
        data-search-on-enter-key="true"
        data-search-text="{{ search_term }}"
        data-sort-name="{{ order_by }}"
        data-sort-order="{{ order_dir }}"
        data-show-search-clear-button="true"
        data-show-multi-sort="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        data-show-fullscreen="true"
        data-show-export="true">
        <thead>
            <tr>
                <th data-field="{{ name.name }}"
                    data-valign="top"
                    data-filter-control="{{ name.filter_control }}"
                    {{ name.filter_data_attr|safe }}
                    data-filter-default="{{ name.filter }}"
                    data-sortable="{{ name.sortable }}"
                    data-sorter="{{ name.sorter }}"
                    data-visible="{{ name.visible }}">Sample</th>
                <th data-field="{{ animal__name.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__name.filter_control }}"
                    {{ animal__name.filter_data_attr|safe }}
                    data-filter-default="{{ animal__name.filter }}"
                    data-sortable="{{ animal__name.sortable }}"
                    data-sorter="{{ animal__name.sorter }}"
                    data-visible="{{ animal__name.visible }}">Animal</th>
                <th data-field="{{ tissue__name.name }}"
                    data-valign="top"
                    data-filter-control="{{ tissue__name.filter_control }}"
                    {{ tissue__name.filter_data_attr|safe }}
                    data-filter-default="{{ tissue__name.filter }}"
                    data-sortable="{{ tissue__name.sortable }}"
                    data-sorter="{{ tissue__name.sorter }}"
                    data-visible="{{ tissue__name.visible }}">Tissue</th>
                <th data-field="{{ first_study.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_study.filter_control }}"
                    {{ first_study.filter_data_attr|safe }}
                    data-filter-default="{{ first_study.filter }}"
                    data-sortable="{{ first_study.sortable }}"
                    data-sorter="{{ first_study.sorter }}"
                    data-visible="{{ first_study.visible }}">Studies</th>
                <th data-field="{{ animal__genotype.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__genotype.filter_control }}"
                    {{ animal__genotype.filter_data_attr|safe }}
                    data-filter-default="{{ animal__genotype.filter }}"
                    data-sortable="{{ animal__genotype.sortable }}"
                    data-sorter="{{ animal__genotype.sorter }}"
                    data-visible="{{ animal__genotype.visible }}">Genotype</th>
                <th data-field="{{ animal__infusate__name.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__infusate__name.filter_control }}"
                    {{ animal__infusate__name.filter_data_attr|safe }}
                    data-filter-default="{{ animal__infusate__name.filter }}"
                    data-sortable="{{ animal__infusate__name.sortable }}"
                    data-sorter="{{ animal__infusate__name.sorter }}"
                    data-visible="{{ animal__infusate__name.visible }}">Infusate</th>
                <th data-field="{{ first_tracer.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_tracer.filter_control }}"
                    {{ first_tracer.filter_data_attr|safe }}
                    data-filter-default="{{ first_tracer.filter }}"
                    data-sortable="{{ first_tracer.sortable }}"
                    data-sorter="{{ first_tracer.sorter }}"
                    data-visible="{{ first_tracer.visible }}">Tracer(s)</th>
                <th data-field="{{ first_tracer_conc.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_tracer_conc.filter_control }}"
                    {{ first_tracer_conc.filter_data_attr|safe }}
                    data-filter-default="{{ first_tracer_conc.filter }}"
                    data-sortable="{{ first_tracer_conc.sortable }}"
                    data-sorter="{{ first_tracer_conc.sorter }}"
                    data-visible="{{ first_tracer_conc.visible }}">Tracer Concentration(s) (mM)</th>
                <th data-field="{{ first_label.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_label.filter_control }}"
                    {{ first_label.filter_data_attr|safe }}
                    data-filter-default="{{ first_label.filter }}"
                    data-sortable="{{ first_label.sortable }}"
                    data-sorter="{{ first_label.sorter }}"
                    data-visible="{{ first_label.visible }}">Tracer Elements</th>
                <th data-field="{{ animal__infusion_rate.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__infusion_rate.filter_control }}"
                    {{ animal__infusion_rate.filter_data_attr|safe }}
                    data-filter-default="{{ animal__infusion_rate.filter }}"
                    data-sortable="{{ animal__infusion_rate.sortable }}"
                    data-sorter="{{ animal__infusion_rate.sorter }}"
                    data-visible="{{ animal__infusion_rate.visible }}">Infusion Rate (ul/min/g)</th>
                <th data-field="{{ animal__treatment__name.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__treatment__name.filter_control }}"
                    {{ animal__treatment__name.filter_data_attr|safe }}
                    data-filter-default="{{ animal__treatment__name.filter }}"
                    data-sortable="{{ animal__treatment__name.sortable }}"
                    data-sorter="{{ animal__treatment__name.sorter }}"
                    data-visible="{{ animal__treatment__name.visible }}">Treatment</th>
                <th data-field="{{ animal__body_weight.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__body_weight.filter_control }}"
                    {{ animal__body_weight.filter_data_attr|safe }}
                    data-filter-default="{{ animal__body_weight.filter }}"
                    data-sortable="{{ animal__body_weight.sortable }}"
                    data-sorter="{{ animal__body_weight.sorter }}"
                    data-visible="{{ animal__body_weight.visible }}">Body Weight (g)</th>
                <th data-field="{{ age_weeks_str.name }}"
                    data-valign="top"
                    data-filter-control="{{ age_weeks_str.filter_control }}"
                    {{ age_weeks_str.filter_data_attr|safe }}
                    data-filter-default="{{ age_weeks_str.filter }}"
                    data-sortable="{{ age_weeks_str.sortable }}"
                    data-sorter="{{ age_weeks_str.sorter }}"
                    data-visible="{{ age_weeks_str.visible }}">Age (weeks)</th>
                <th data-field="{{ animal__sex.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__sex.filter_control }}"
                    {{ animal__sex.filter_data_attr|safe }}
                    data-filter-default="{{ animal__sex.filter }}"
                    data-sortable="{{ animal__sex.sortable }}"
                    data-sorter="{{ animal__sex.sorter }}"
                    data-visible="{{ animal__sex.visible }}">Sex</th>
                <th data-field="{{ animal__diet.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__diet.filter_control }}"
                    {{ animal__diet.filter_data_attr|safe }}
                    data-filter-default="{{ animal__diet.filter }}"
                    data-sortable="{{ animal__diet.sortable }}"
                    data-sorter="{{ animal__diet.sorter }}"
                    data-visible="{{ animal__diet.visible }}">Diet</th>
                <th data-field="{{ animal__feeding_status.name }}"
                    data-valign="top"
                    data-filter-control="{{ animal__feeding_status.filter_control }}"
                    {{ animal__feeding_status.filter_data_attr|safe }}
                    data-filter-default="{{ animal__feeding_status.filter }}"
                    data-sortable="{{ animal__feeding_status.sortable }}"
                    data-sorter="{{ animal__feeding_status.sorter }}"
                    data-visible="{{ animal__feeding_status.visible }}">Feeding Status</th>
                <th data-field="{{ researcher.name }}"
                    data-valign="top"
                    data-filter-control="{{ researcher.filter_control }}"
                    {{ researcher.filter_data_attr|safe }}
                    data-filter-default="{{ researcher.filter }}"
                    data-sortable="{{ researcher.sortable }}"
                    data-sorter="{{ researcher.sorter }}"
                    data-visible="{{ researcher.visible }}">Sample Owner</th>
                <th data-field="{{ col_date_str.name }}"
                    data-valign="top"
                    data-filter-control="{{ col_date_str.filter_control }}"
                    {{ col_date_str.filter_data_attr|safe }}
                    data-filter-default="{{ col_date_str.filter }}"
                    data-sortable="{{ col_date_str.sortable }}"
                    data-sorter="{{ col_date_str.sorter }}"
                    data-visible="{{ col_date_str.visible }}">Sample Date</th>
                <th data-field="{{ col_time_str.name }}"
                    data-valign="top"
                    data-filter-control="{{ col_time_str.filter_control }}"
                    {{ col_time_str.filter_data_attr|safe }}
                    data-filter-default="{{ col_time_str.filter }}"
                    data-sortable="{{ col_time_str.sortable }}"
                    data-sorter="{{ col_time_str.sorter }}"
                    data-visible="{{ col_time_str.visible }}">Time Collected (m)</th>
                <th data-field="{{ first_ms_operator.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_ms_operator.filter_control }}"
                    {{ first_ms_operator.filter_data_attr|safe }}
                    data-filter-default="{{ first_ms_operator.filter }}"
                    data-sortable="{{ first_ms_operator.sortable }}"
                    data-sorter="{{ first_ms_operator.sorter }}"
                    data-visible="{{ first_ms_operator.visible }}">MSRun Owner</th>
                <th data-field="{{ first_ms_date.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_ms_date.filter_control }}"
                    {{ first_ms_date.filter_data_attr|safe }}
                    data-filter-default="{{ first_ms_date.filter }}"
                    data-sortable="{{ first_ms_date.sortable }}"
                    data-sorter="{{ first_ms_date.sorter }}"
                    data-visible="{{ first_ms_date.visible }}">MSRun Date</th>
                <th data-field="{{ first_ms_sample.name }}"
                    data-valign="top"
                    data-filter-control="{{ first_ms_sample.filter_control }}"
                    {{ first_ms_sample.filter_data_attr|safe }}
                    data-filter-default="{{ first_ms_sample.filter }}"
                    data-sortable="{{ first_ms_sample.sortable }}"
                    data-sorter="{{ first_ms_sample.sorter }}"
                    data-visible="{{ first_ms_sample.visible }}">MSRun Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in sample_list %}
                <tr>
                    <td><a href="{% url 'sample_detail' sample.id %}">{{ sample.name }}</a></td>
                    <td><a href="{% url 'animal_detail' sample.animal.id %}">{{ sample.animal.name }}</a></td>
                    <td><a href="{% url 'tissue_detail' sample.tissue.id %}">{{ sample.tissue.name }}</a></td>
                    <td>
                        {# Hidden value for sorting #}
                        <span style="display:none">{{ sample.first_study }}</span>

                        {# Rendering performance of this template is dramatically improved by only rendering sample.first_study when the count is greater than 1. #}
                        {% if sample.animal.studies.count|gt:1 %}
                            {% if order_dir|lower == "asc" %}
                                {% for study in sample.studies.all|dictsort:"name" %}
                                    <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>{% if not forloop.last %};<br>{% endif %}
                                {% endfor %}
                            {% else %}
                                {% for study in sample.studies.all|dictsortreversed:"name" %}
                                    <a href="{% url 'study_detail' study.id %}">{{ study.name }}</a>{% if not forloop.last %};<br>{% endif %}
                                {% endfor %}
                            {% endif %}
                        {% elif sample.first_study %}
                            <a href="{% url 'study_detail' sample.first_study_id %}">{{ sample.first_study }}</a>
                        {% endif %}
                    </td>
                    <td>{{ sample.animal.genotype }}</td>
                    <td>
                        {% if sample.animal.infusate %}
                            <div class="newlines"><a href="{% url 'infusate_detail' sample.animal.infusate.id %}">{{ sample.animal.infusate.pretty_short_name }}</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if sample.animal.infusate %}
                            {# Hidden value for sorting #}
                            <span style="display:none">{{ sample.first_tracer }}</span>

                            {# Rendering performance of this template is dramatically improved by only rendering sample.first_tracer when the count is greater than 1. #}
                            {% if sample.animal.infusate.tracers.count|gt:1 %}
                                {% if order_dir|lower == "asc" %}
                                    {% for tracer in sample.animal.infusate.tracers.all|dictsort:"name" %}
                                        <div class="nobr"><a href="{% url 'compound_detail' tracer.id %}">{{ tracer.name }}</a>{% if not forloop.last %};<br>{% endif %}</div>
                                    {% endfor %}
                                {% else %}
                                    {% for tracer in sample.animal.infusate.tracers.all|dictsortreversed:"name" %}
                                        <div class="nobr"><a href="{% url 'compound_detail' tracer.id %}">{{ tracer.name }}</a>{% if not forloop.last %};<br>{% endif %}</div>
                                    {% endfor %}
                                {% endif %}
                            {% elif sample.first_tracer %}
                                <div class="nobr"><a href="{% url 'compound_detail' sample.first_tracer_compound_id %}">{{ sample.first_tracer }}</a></div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if sample.animal.infusate %}
                            {# Hidden value for sorting #}
                            <span style="display:none">{{ sample.first_tracer_conc }}</span>

                            {% comment %}
                                Rendering performance of this template is dramatically improved by only rendering sample.first_tracer_conc when the count is greater than 1.
                                This assumes that a single infusate/tracer pair has a single concentration/link.  This is currently true, though there are plans to make it a true many-to-many.
                                See: https://github.com/Princeton-LSI-ResearchComputing/tracebase/issues/1053
                            {% endcomment %}
                            {% if sample.animal.infusate.tracer_links.count|gt:1 %}
                                {% if order_dir|lower == "asc" %}
                                    {% for tracer_link in sample.animal.infusate.tracer_links.all|dictsort:"name" %}
                                        <span title="{{ tracer_link.concentration }}">{{ tracer_link.concentration|sigdig:4 }}</span>{% if not forloop.last %};<br>{% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for tracer_link in sample.animal.infusate.tracer_links.all|dictsortreversed:"name" %}
                                        <span title="{{ tracer_link.concentration }}">{{ tracer_link.concentration|sigdig:4 }}</span>{% if not forloop.last %};<br>{% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% elif sample.first_tracer_conc %}
                                <span title="{{ sample.first_tracer_conc }}">{{ sample.first_tracer_conc|sigdig:4 }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {# Hidden value for sorting #}
                        <span style="display:none">{{ sample.first_label }}</span>

                        {# Rendering performance of this template is dramatically improved by only rendering sample.first_label when the count is greater than 1. #}
                        {% if sample.animal.labels.count|gt:1 %}
                            {% if order_dir|lower == "asc" %}
                                {% for label in sample.animal.labels.all|dictsort:"element" %}
                                    {{ label.element }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for label in sample.animal.labels.all|dictsortreversed:"element" %}
                                    {{ label.element }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% elif sample.first_label %}
                            {{ sample.first_label }}
                        {% endif %}
                    </td>
                    <td>
                        {% if sample.animal.infusion_rate %}
                            <span title="{{ sample.animal.infusion_rate }}">{{ sample.animal.infusion_rate|sigdig:2 }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if sample.animal.treatment %}
                            <a href="{% url 'protocol_detail' sample.animal.treatment.id %}">{{ sample.animal.treatment.name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ sample.animal.body_weight }}</td>
                    <td>{{ sample.age_weeks_str|default_if_none:'' }}</td>
                    <td>{{ sample.animal.sex }}</td>
                    <td>{{ sample.animal.diet }}</td>
                    <td>{{ sample.animal.feeding_status }}</td>
                    <td>{{ sample.researcher }}</td>
                    <td>{{ sample.col_date_str|default_if_none:'' }}</td>
                    <td>{{ sample.col_time_str|default_if_none:'' }}</td>
                    <td>
                        {# Hidden value for sorting #}
                        <span style="display:none">{{ sample.first_ms_operator }}</span>

                        {# Rendering performance of this template is dramatically improved by only rendering sample.first_ms_operator when the count is greater than 1. #}
                        {% if sample.sequence_count|gt:1 %}
                            {% with operators=""|make_list %}
                                {% for msrun_sample in sample.msrun_samples.all %}
                                    {% append_unique operators msrun_sample.msrun_sequence.researcher %}
                                {% endfor %}
                                {% for operator in operators %}
                                    {{ operator }}{% if not forloop.last %},<br>{% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% elif sample.first_ms_operator %}
                            {{ sample.first_ms_operator }}
                        {% endif %}
                    </td>
                    <td>
                        {# Hidden value for sorting #}
                        <span style="display:none">{{ sample.first_ms_date }}</span>

                        {# Rendering performance of this template is dramatically improved by only rendering sample.first_ms_date when the count is greater than 1. #}
                        {% if sample.sequence_count|gt:1 %}
                            {% with dates=""|make_list %}
                                {% for msrun_sample in sample.msrun_samples.all %}
                                    {% append_unique dates msrun_sample.msrun_sequence.date|format_date:date_format %}
                                {% endfor %}
                                {% for date in dates %}
                                    {{ date }}{% if not forloop.last %};<br>{% endif %}
                                {% endfor %}
                            {% endwith %}
                        {% elif sample.first_ms_date %}
                            {{ sample.first_ms_date }}
                        {% endif %}
                    </td>
                    <td>
                        {% for msrun_sample in sample.msrun_samples.all %}
                            <div class="nobr">
                                <a href="{% url 'msrunsample_detail' msrun_sample.id %}">MSRunSample Detail
                                    {% if msrun_sample.polarity and msrun_sample.mz_min and msrun_sample.mz_max %}
                                        ({{ msrun_sample.polarity|polarity_name_to_sign }} <span title="{{ msrun_sample.mz_min }}">{{ msrun_sample.mz_min|sigdig:4 }}</span>-<span title="{{ msrun_sample.mz_max }}">{{ msrun_sample.mz_max|sigdig:4 }}</span>)
                                    {% elif msrun_sample.polarity %}
                                        ({{ msrun_sample.polarity|polarity_name_to_sign }})
                                    {% elif msrun_sample.mz_min and msrun_sample.mz_max %}
                                        (<span title="{{ msrun_sample.mz_min }}">{{ msrun_sample.mz_min|sigdig:4 }}</span>-<span title="{{ msrun_sample.mz_max }}">{{ msrun_sample.mz_max|sigdig:4 }}</span>)
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
