{% extends "base.html" %}
{% load static %}
{% load advsrch_tags %}

{% block head_extras %}
    {{ block.super }}

    <!-- The nested_forms items were inspired by both:

        - https://github.com/elo80ka/django-dynamic-formset/
        - https://stackoverflow.com/questions/50736373/html-unlimited-hierarchy-input-to-form

        The 2 were incompatible, so the result is a re-implementation of the stack one to add to the first one in pure javascript.
    
    -->

    <link href="{% static 'css/nested_forms.css' %}" rel="stylesheet">
    <link href="{% static 'css/extras.css' %}" rel="stylesheet">
    <script src="{% static 'js/nested_forms.js' %}"></script>

    {% if qry %}
        {# This turns the qry dict/object (containing the previous query - if there was one) into a json-ized HTML object that is consumed by javascript in a pair of script tags inserted here.  It can be injested via JSON.parse. #}
        {{ qry|json_script:"initGroup" }}
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function(){

            // If a search has been performed, restore the form
            {% if qry %}
                const initGroup = JSON.parse(document.getElementById('initGroup').textContent);
                initializeExistingSearchQuery(document.querySelector('.hierarchical_search'), initGroup);
                console.log("After re-init: ", rootGroup);
            {% else %}
                appendInnerSearchQuery(document.querySelector('.hierarchical_search'), rootGroup);
            {% endif %}

            var myform = document.getElementById("hierarchical_search_form");
            document.getElementById("advanced_search_submit").addEventListener("click", function () {
                saveSearchQueryHierarchy(document.querySelector('.hierarchical_search'));
                myform.submit();
            });
        });
        
        console.log("Ready with rootGroup: ", rootGroup);
    </script>

{% endblock %}

{% block content %}
    <div>
        <h3>Search Peak Groups</h3>

        <!-- Form template from django's forms.py -->
        {% with form.empty_form as f %}
            <div id="id_empty_form" style="display:none;">
                {{ f.pos }}
                {{ f.fld }}
                {{ f.ncmp }}
                {{ f.val }}
                <label class="text-danger"> {{ f.val.errors }} </label>
            </div>
        {% endwith %}

        <!-- form action="" method="POST" -->
        <form action="" id="hierarchical_search_form" method="POST">
        {% csrf_token %}
            <div class="hierarchical_search"></div>
            <button type="submit" class="btn btn-primary" id="advanced_search_submit">Search</button>
            {{ form.errors.val }}
            {{ form.management_form }}
            <label id="formerror" class="text-danger temporal-text"></label>
        </form>
        {% if mode == "search" %}
            <a href="{% url 'search_peakgroups' %}?mode=browse" class="tiny">Browse All</a>
        {% endif %}
    </div>

    {% if debug %}
        {% if qry %}
            Query: {{ qry }}
        {% else %}
            Query was empty
        {% endif %}
    {% endif %}

    <div>
        <!-- Pre-populate the initial view with all records if no results, no errors, and in browse mode -->
        {% if not res and not qry and form.0.val != "" and not form.0.val.errors and mode == "browse" %}
            {% populatePeakGroups res as cur_res %}
        {% else %}
            {% define res as cur_res %}
        {% endif %}

        {% if mode == "search" %}
            {% if qry and form.0.val != "" and not form.0.val.errors %}
                <hr>
                <h3>Results ({{ cur_res.count|default:"0" }})</h3>
            {% endif %}
        {% else %}
            <hr>
            <h3>{{ cur_res.count|default:"0" }} Records</h3>
        {% endif %}

        {% if cur_res %}
            <table class="table table-success table-hover table-striped table-bordered">
                <tr>
                    <th>Compound</th>
                    <th>Atom:Label</th>
                    <th>Sample</th>
                    <th>Fraction</th>
                    <th>Tissue</th>
                    <th>Mouse</th>
                    <th>TIC</th>
                    <th>NormFraction</th>
                    <th>Infusate</th>
                    <th>Experiment</th>
                    <th>Feeding Status</th>
                    <th>Infusion Rate</th>
                    <th>[Infusate]</th>
                </tr>

                {% for pd in cur_res.all %}
                    {% for study in pd.peak_group.ms_run.sample.animal.studies.all %}
                        <tr>
                            <!-- Compound -->
                            <td>
                                <a href="{% url 'sample_detail' pd.peak_group.id %}">
                                    {{ pd.peak_group.name }}
                                </a>
                            </td>

                            <!-- Atom Label -->
                            <td>
                                {{ pd.labeled_element }}:{{ pd.labeled_count }}
                            </td>

                            <!-- Sample -->
                            <td>
                                <div class="nobr">
                                    <a href="{% url 'sample_detail' pd.peak_group.ms_run.sample.id %}">
                                        {{ pd.peak_group.ms_run.sample.name }}
                                    </a>
                                </div>
                            </td>

                            <!-- Fraction -->
                            <td class="text-end">
                                <p title="{{ pd.fraction }}">{{ pd.fraction|floatformat:4 }}</p>
                            </td>

                            <!-- Tissue -->
                            <td>
                                {{ pd.peak_group.ms_run.sample.tissue.name }}
                            </td>

                            <!-- Mouse -->
                            <td>
                                <a href="{% url 'animal_detail' pd.peak_group.ms_run.sample.animal.id %}">
                                    {{ pd.peak_group.ms_run.sample.animal.name }}
                                </a>
                            </td>

                            <!-- TIC -->
                            <td class="text-end">
                                <p title="{{ pd.peak_group.total_abundance }}">{{ pd.peak_group.total_abundance|floatformat:1 }}</p>
                            </td>

                            <!-- NormFraction -->
                            <td class="text-end">
                                <p title="{{ pd.peak_group.normalized_labeling }}">{{ pd.peak_group.normalized_labeling|floatformat:4 }}</p>
                            </td>

                            <!-- Infusate -->
                            <td>
                                {{ pd.peak_group.ms_run.sample.animal.tracer_compound.name }}
                            </td>

                            <!-- Experiment -->
                            <td>
                                <a href="{% url 'study_detail' study.id %}">
                                    {{ study.name }}
                                </a>
                            </td>

                            <!-- Feeding Status -->
                            <td>
                                {{ pd.peak_group.ms_run.sample.animal.feeding_status }}
                            </td>

                            <!-- Infusion Rate -->
                            <td class="text-end">
                                {{ pd.peak_group.ms_run.sample.animal.tracer_infusion_rate }}
                            </td>

                            <!-- [Infusate] -->
                            <td class="text-end">
                                {{ pd.peak_group.ms_run.sample.animal.tracer_infusion_concentration }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            {% if qry and form.0.val != "" and not form.0.val.errors %}
                <p>No PeakGroup data found.</p>
            {% elif mode == "browse" %}
                <p>No PeakGroup data found.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
