{% extends "base.html" %}
{% load static %}
{% load customtags %}

{% block title %}Study Record - {{ study.name }}{% endblock %}

{% block head_extras %}
    <link href="{% static 'css/bootstrap_table_cus1.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <h4>Study Record - {{ study.name }}</h4>
    <br>
    <table id="study_detail_stats" class="table table-bordered table-hover w-auto mw-100">
        <thead>
            <tr>
                <th>Study</th>
                <th class="w-25">Description</th>
                <th>Genotypes</th>
                <th>Infusates</th>
                <th>Treatments</th>
                <th>Sample Owners</th>
                <th>Total Animals</th>
                <th>Total Tissues</th>
                <th>Total Samples</th>
                <th>Total MSRuns</th>
            </tr>
        </thead>
        <tbody>
            {% for i in stats_df %}
            <tr>
                <td>{{ i.study }}</td>
                <td>{{ i.study_description }}</td>
                <td>{{ i.genotypes|join:", " }}</td>
                <td>{% obj_hyperlink i.infusate_id_name_list "infusate" newline=True %}</td>
                <td>{% obj_hyperlink i.treatment_id_name_list "treatment" %}</td>
                <td>{{ i.sample_owners|join:", "}}</td>
                <td>{{ i.total_animal }}</td>
                <td>{{ i.total_tissue }}</td>
                <td>{{ i.total_sample }}</td>
                <td>{{ i.total_msrun }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <li><a href="{% url 'search_basic' 'Study' 'id' 'iexact' study.id 'peakgroups' %}">Peak Groups</a></li>
    <li><a href="{% url 'search_basic' 'Study' 'id' 'iexact' study.id 'peakdata' %}">Peak Data</a></li>
    <li><a href="{% url 'search_basic' 'Study' 'id' 'iexact' study.id 'fcirc' %}">Fcirc Data</a></li>
</div>
<br>
<div>
    <h6>Animal and Sample Data for the Study</h6>
    <br>
    {% with out_df=df %}
        {% include "DataRepo/includes/study_animal_sample_msrun_table_detailpage.html" %}
    {% endwith %}
</div>
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script src="{% static 'js/setTableHeight.js' %}"></script>
    <script>
        let divID = "div_out_tab";
        let pctVH = 0.50;
        let vHeight = setTableHeight(divID, pctVH);
        $('#study_animal_sample_msrun').bootstrapTable({
            height: vHeight,
            virtualScroll: true
        })
        $('#study_animal_sample_msrun').bootstrapTable('resetView')
    </script>
{% endblock %}
