{% extends "base.html" %}
{% load customtags %}

{% block title %}Study Record - {{ study.name }}{% endblock %}

{% block content %}
<div>
    <h4>Study Record - {{ study.name }}</h4>
    <br>
    <table id="study_detail_stats" class="table table-bordered table-hover w-auto mw-100">
        <thead>
            <tr>
                <th>Study</th>
                <th>Description</th>
                <th>Genotypes</th>
                <th>Infusates</th>
                <th>Treatments</th>
                <th>Sample Owners</th>
                <th>Total Animals</th>
                <th>Total Tissues</th>
                <th>Total Samples</th>
                <th>Total MSRuns</th>
            </tr>
        </thead>
        <tbody>
            {% for i in stats_df %}
            <tr>
                <td>{{ i.study }}</td>
                <td>{{ i.study_description }}</td>
                <td>{{ i.genotypes|join:"," }}</td>
                <td>{{ i.infusate_id_name_list|obj_hyperlink:"infusate" }}</td>
                <td>{{ i.treatment_id_name_list|obj_hyperlink:"treatment" }}</td>
                <td>{{ i.sample_owners|join:","}}</td>
                <td>{{ i.total_animal }}</td>
                <td>{{ i.total_tissue }}</td>
                <td>{{ i.total_sample }}</td>
                <td>{{ i.total_msrun }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <br>
    <h5><a href="{% url 'search_basic' 'Study' 'id' 'iexact' study.id 'peakgroups' %}">View Peak Group Data</a></h5>
    <h5><a href="{% url 'search_basic' 'Study' 'id' 'iexact' study.id 'peakdata' %}">View Peak Data</a></h5>
    <h5><a href="{% url 'search_basic' 'Study' 'id' 'iexact' study.id 'fcirc' %}">View Fcirc Data</a></h5>
</div>
<br>
<div>
    <h5>Animal and Sample Data for the Study:</h5>
    <br>
    {% with out_df=df %}
        {% include "DataRepo/includes/study_animal_sample_msrun_table_detailpage.html" %}
    {% endwith %}
</div>
{% endblock %}
