{% extends "base_1.html" %}

{% block title %}Studies{% endblock %}

{% block content %}
<div>
    <ul>
        <h4>List of Studies</h4>

        {% if study_list %}
        <br>
        <table class="table table-sm table-hover table-striped table-bordered">
            <tr>
            <th>Name</th>
            <th>Description</th>
            </tr>
            {% for study in study_list %}
            <tr>
            <td><a href="{% url 'study_detail' study.id %}">{{ study.name }}</a></td>
            <td>{{ study.description }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>There are no studies.</p>  
        {% endif %}  
    </ul>
</div>
{% endblock %}