{% extends "base.html" %}

<h1>Studies</h1>

{% block content %}
    <div>
        <ul>
            <h3>List of Studies</h3>

            {% if study_list %}
                <table class="table table-hover table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                    {% for study in study_list %}
                        <tr>
                            <td><a href="{% url 'study_detail' study.id %}">{{ study.name }}</a></td>
                            <td>{{ study.description }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are no studies.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}
