{% extends "base.html" %}
{% load static %}
{% load customtags %}

{% block title %}Tissues{% endblock %}

{% block head_extras %}
    <link href="{% static 'css/bootstrap_table_cus2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h4>List of Tissues</h4>

<div id="div_out_tab">
    {% if tissue_list %}
        <table class="table table-sm table-hover table-bordered table-responsive-xl table-striped"
            id="tissue_list"
            data-toggle="table"
            data-buttons-class="primary"
            data-buttons-align="left"
            data-filter-control="true"
            data-search="true"
            data-search-align="left"
            data-show-search-clear-button="true"
            data-show-multi-sort="true"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-show-fullscreen="true"
            data-show-export="true"
            data-export-types="['csv', 'txt', 'excel']"
            data-pagination="true"
            data-page-size="100"
            data-page-list="[10, 25, 50, 100, 200, 500, All]">
            <thead>
            <tr>
                <th data-field="Tissue" data-filter-control="input" data-sortable="true" data-sorter="htmlSorter">Tissue</th>
                <th data-field="Description" data-filter-control="input" data-sortable="true">Description</th>
            </tr>
            </thead>
            <tbody>
                {% for tissue in tissue_list %}
                <tr>
                <td><a href="{% url 'tissue_detail' tissue.id %}">{{ tissue.name }}</a></td>
                <td>{{ tissue.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no tissues.</p>
    {% endif %}
</div>
{% endblock %}

{% block js_extras %}
    {{ block.super }}
    <script src="{% static 'js/setTableHeight.js' %}"></script>
    <script>
        let divID = "div_out_tab";
        let pctVH = 0.85;
        let vHeight = setTableHeight(divID, pctVH);
        $('#tissue_list').bootstrapTable({
            height: vHeight,
            virtualScroll: true
        })
    </script>
{% endblock %}
