{% extends "base.html" %}
{% load customtags %}
{% load static %}

{% block head_extras %}
    {{ block.super }}

    <link href="{% static 'css/hierarchical_formsets.css' %}" rel="stylesheet">
    <link href="{% static 'css/tabbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/drop_area.css' %}" rel="stylesheet">
    <script src="{% static 'js/file_list_drop_area.js' %}"></script>
    <script src="{% static 'js/browser_download.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            peak_annot_input = document.getElementById('peak_annotation_files_field');
            peak_annot_list = document.getElementById('pending_peak_annot_files');
            study_file_content_tag = document.getElementById('output_study_file')
            current_peak_annot_files = null;

            // If there is a study file that was produced
            if ( typeof study_file_content_tag !== "undefined" && study_file_content_tag ) {
                browserDownloadExcel('{{ study_filename }}', study_file_content_tag.innerHTML)
            }

            // Note that the reset button does not trigger a change event, so see its onclick code
            peak_annot_input.addEventListener(
                'change',
                function() { handlePeakAnnotFiles(peak_annot_input.files); },
                false
            );

            function handlePeakAnnotFiles (files, add) {
                if (typeof add === 'undefined' || add === null) {
                    add = true;
                }
                // If we're adding files, oreviously selected files exist, and the field isn't being cleared
                if (add && typeof current_peak_annot_files !== "undefined" && current_peak_annot_files && files.length > 0) {
                    const dT = new DataTransfer();
                    // Add previously added files to the DataTranfer object
                    for (let i = 0; i < current_peak_annot_files.length; i++) {
                        dT.items.add(current_peak_annot_files[i]);
                    }
                    // Add newly selected files to the DataTranfer object
                    for (let i = 0; i < files.length; i++) {
                        dT.items.add(files[i]);
                    }
                    // Set the file input element to the combined (previously added and new) files
                    peak_annot_input.files = dT.files;
                }
                current_peak_annot_files = peak_annot_input.files;
                showPeakAnnotFiles(peak_annot_input.files);
            }
        })

        function showPeakAnnotFiles (files) {
            peak_annot_list.innerHTML = getFileNamesString(files);
        }
    </script>
{% endblock %}

{% block content %}
    <div>
        <ul class="tabbar tabbar-pills justify-content-center">
            <li class="tabbar-item">
                <a class="tabbar-link {% if page == 'Start' or page is None %}active{% endif %}" href="{% url 'validate' %}?page=Start">Start</a>
            </li>
            <li class="tabbar-item">
                <a class="tabbar-link {% if page == 'Fill In' %}active{% endif %}" href="{% url 'validate' %}?page=Fill%20In">Fill In</a>
            </li>
            <li class="tabbar-item">
                <a class="tabbar-link {% if page == 'Validate' %}active{% endif %}" href="{% url 'validate' %}?page=Validate">Validate</a>
            </li>
            <li class="tabbar-item">
                <a class="tabbar-link {% if page == 'Submit' %}active{% endif %}" href="{% url 'validate' %}?page=Submit">Submit</a>
            </li>
        </ul>
        <h3>Build a TraceBase Submission</h3>
        <span class="small text-muted">Upload multiple accucor and/or isocorr files (and an optional existing Animal/Sample sheet) and get back an animal and sample sheet with sample names automatically added.</span><br><br>
        <form action="{% url 'validate' %}" id="submission-validation" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="peak_annotation_files" class="tight-form-label">
                Peak Annotation Files:
                <span class="small"><span class="small text-muted">(AccuCor/IsoCorr <span class="fst-italic">excel</span>)</span></span>
            </label>
            {{ form.peak_annotation_files }}
            <span class="text-danger">{{ form.peak_annotation_files.errors }}</span>
            <pre id="pending_peak_annot_files" class="drop-area-list-indent"></pre>

            <label for="animal_sample_table" class="tight-form-label">
                Output Animal and Sample File:
                <span class="small"><span class="small text-muted">(OPTIONAL <span class="fst-italic">excel</span>, if exists)</span></span>
            </label>
            {{ form.animal_sample_table }}<span class="text-danger">{{ form.animal_sample_table.errors }}</span>
            <!-- Errors, if they exist, add an extra like which makes the spacing off -->
            {% if not form.animal_sample_table.errors %}<br>{% endif %}

            <span class="text-danger">{{ form.non_field_errors }}</span>
            <button type="submit" class="btn btn-primary" id="validate">Download</button>
            <button type="reset" class="btn btn-secondary" id="clear" onclick="showPeakAnnotFiles([]);">Clear</button>
            {{ form.management_form }}
        </form>
    </div>

    {% if results %}
        {% if not quiet_mode %}
            <br>
            <br>
            {% if valid %}
                <h5 class="text-success">Your data looks good! You may proceed to the <a href="{{ submission_url }}">submission form</a> if you are ready to add this data to TraceBase.</h5>
            {% endif %}
        {% endif %}
        {% if not valid or not quiet_mode %}
            <hr>
            <h5>Status Report <a class="badge text-light bg-secondary" data-bs-toggle="collapse" data-bs-target="#study-submission-report">expand</a></h5>
            <div id="study-submission-report" class="collapse">
                <ul class="ul-nopadding">
                    {% for key in ordered_keys %}
                        {% with status=results|index:key status_class=results|index:key|getClass err_status="ERROR" wrn_status="WARNING" %}
                            <li class="{{ status_class }}">
                                <u><b>{{ status }}: {{ key }}</b></u>
                                {% if exceptions|index:key %}
                                    <ul class="ul-nopadding">
                                        {% for exception in exceptions|index:key %}
                                            <li class="{% if exception|index:'is_error' %}{{ err_status|getClass }}{% else %}{{ wrn_status|getClass }}{% endif %}"><b>{{ exception|index:"type" }}</b>{% if exception|index:"fixed" != None %} <b>({{ exception|index:"fixed" }})</b>{% endif %}<br><div class="level-indent"><span class="newlines">{{ exception|index:"message" }}</span></div></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <pre class="d-none" id="output_study_file">{{study_data}}</pre>
    {% endif %}

{% endblock %}
